.about-us-contain{
    width: 100%;
    padding: 30px 3%;
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #F2F3F7;
}

.about-us-contain>.inner{
    max-width: 1800px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us-contain>.inner>.item{
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    max-height: 700px;
}

.about-us-contain>.inner>.item:nth-child(odd){
    flex-direction: row-reverse;
}

.about-us-contain>.inner>.item>.textarea{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-contain>.inner>.item>.textarea>.inner{
    width: 80%;
    max-width: 600px;
    min-height: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us-contain>.inner>.item>.textarea>.inner>h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #E95959;
    width: 100%;
}

.about-us-contain>.inner>.item>.textarea>.inner>.text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    color: #474545;
}

.about-us-contain>.inner>.item>.img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-contain>.inner>.item>.img>.inner{
    width: 70%;
    max-width: 600px;
    min-height: 18vw;
    max-height: 250px;
}

.about-us-contain>.inner>.item>.img>#img1{
    background: url(../assets/banner/banner_about_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-us-contain>.inner>.item>.img>#img2{
    background: url(../assets/banner/6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-us-contain>.inner>.item>.img>#img3{
    background: url(../assets/banner/4.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.about-us-contain>.inner>.item>.img>#img4{
    background: url(../assets/banner/imac.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 991px){
    .about-us-contain{
        padding: 0;
    }

    .about-us-contain>.inner{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}

    .about-us-contain>.inner>.item{
        flex-direction: column-reverse!important;
        margin-bottom: 35px;
        padding: 40px 15px;
        border-radius: 5px;
        border: 1px solid #F2F3F7;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

    .about-us-contain>.inner>.item>.textarea{
        padding: 0;
        width: 100%!important;
    }

    .about-us-contain>.inner>.item>.textarea>.inner>h2{
        font-size: 18px;
        margin-bottom: 15px;
        text-align: center;
    }

    .about-us-contain>.inner>.item>.textarea>.inner>.text{
        font-size: 15px;
        width: 100%;
    }

    .about-us-contain>.inner>.item>.textarea>.inner{
        width: 80%!important;
        padding: 0;
    }

    .about-us-contain>.inner>.item>.img{
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .about-us-contain>.inner>.item>.img>.inner{
        width: 60%;
        max-width: 600px;
        min-height: 23vw;
        max-height: 250px;
    }

    .about-us-contain>.inner>.item>.img>#img1{
        background-size: 130%!important;
    }

    .about-us-contain>.inner>.item>.img>#img3{
        background-size: 100%!important;
    }

    .about-us-contain>.inner>.item>.img>#img4{
        background-size: 150%!important;
    }
}