.all-company{
    width: 100%;
    height: auto;
    padding: 30px 3%;
    background-color: #F2F3F7;
    display: flex;
    justify-content: center;
}

.all-company>.inner{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    max-width: 1800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.all-company>.inner>h1{
    font-size: 40px;
    margin: 20px 0 30px 0;
    color: #E95959;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.all-company>.inner>div{
    width: 100%;
    height: auto;
    border: none;
    padding: 0 2%!important;
}

.all-company>.inner>div>table{
    margin-bottom: 0;
}

.all-company>.inner>div>table,.all-company>.inner>div>table th,.all-company>.inner>div>table td{
    border: 1px solid #DEE2E6!important;
    text-align: center!important;
    white-space: nowrap;
}

.all-company>.inner>div>table th,.all-company>.inner>div>table td{
    width: 25%!important;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.all-company>.inner>div>table th{
    color: #ffffff;
    background-color: #393E5B;
}

.all-company>.inner>div>table td{
    color: #555555;
    font-size: 15px;
    font-weight: 500;
    vertical-align: middle;

}

.all-company>.inner>div>table td>.i{
    display: flex;
    justify-content: center!important;
    align-items: center!important;
    flex-direction: column;
    width: 100%;
}

.all-company>.inner>div>table td>.i>.icon{
    width: 40px;
    height: 40px;
    background-color: #E95959;
    border-radius: 100%;
    flex-shrink: 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-company>.inner>div>table td>.i>.icon>.inner{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#test-icon-1{
    background: url(../assets/banner/user.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#test-icon-2{
    background: url(../assets/banner/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.all-company>.inner>div>table td>.i>.name{
    color: #393E5B;
    width: max-content;
    font-size: 16px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media screen and (max-width:991px){
    .all-company{
        padding: 0;
    }

    .all-company>.inner{
        border-radius: 0;
        padding-bottom: 60px;
    }
}