.all-categories{
    width: 100%;
    padding: 30px 3%;
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #F2F3F7;
}

.all-categories>.all-categories-inner{
    width: 100%;
    max-width: 1800px;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.all-categories>.all-categories-inner>h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #666666;
    font-weight: 400;
    font-size: 30px;
    border-bottom: 2px solid #E95959;
    margin-left: 25px;
    width: max-content;
    padding: 5px;
}


.all-categories>.all-categories-inner>.categories{
    height: auto;
    margin-top: 10px;
    padding: 2%;
    padding-bottom: 0;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.all-categories>.all-categories-inner>.categories>.item{
    height: 8vw;
    min-height: 120px;
    margin-bottom: 2%;
    max-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-categories>.all-categories-inner>.categories>.item>.item-inner{
    width: 90%;
    height: 100%;
    border-left: 4px solid #E95959;
    display: flex;
    align-items: center;
    padding: 3%;
    background-color: #F2F3F7;
    justify-content: flex-start;
    transition:0.1s;
}

.all-categories>.all-categories-inner>.categories>.item>.item-inner:hover{
    transform: scale(1.02);
    transition:0.1s;
}

.all-categories>.all-categories-inner>.categories>.item>.item-inner:hover .name{
    color: #E95959;
    transition: 0.1s;
}

.all-categories>.all-categories-inner>.categories>.item>.item-inner>.icon{
    width: 70px;
    height: 70px;
    background: url(../assets/banner/minerals.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    border-radius: 100%;
    margin-left: 7%;
    margin-right: 6%;
}

.all-categories>.all-categories-inner>.categories>.item>.item-inner>.name{
    text-align: center;
    width: 50%;
    color: #666666;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 991px){
    .all-categories>.all-categories-inner>h1{
        padding: 20px;
        font-size: 24px;
        margin: auto;
    }
    
    .all-categories>.all-categories-inner>.categories>.item>.item-inner:hover{
        transform: scale(1);
    }

    .all-categories{
        padding: 0;
    }

    .all-categories>.all-categories-inner{
        border-radius: 0;
        padding: 0;
        padding-bottom: 60px;
    }
}

@media screen and (max-width:767px){
    .all-categories>.all-categories-inner>.categories{
        height: auto;
        margin-top: 10px;
        padding: 2%;
        padding-bottom: 0;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .all-categories>.all-categories-inner>.categories>.item{
        height: 8vw;
        width: 100%!important;
        min-height: 120px;
        margin-bottom: 2%;
        max-height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .all-categories>.all-categories-inner>.categories>.item>.item-inner{
        width: 100%;
        height: 100%;
        border-left: 4px solid #E95959;
        display: flex;
        align-items: center;
        padding: 3%;
        background-color: #F2F3F7;
        justify-content: flex-start;
        transition:0.1s;
    }
}

@media screen and (max-width:500px){
    .all-categories>.all-categories-inner>h1{
        padding: 20px;
        font-size: 16px;
        margin: auto;
    }
}