.blog{
    width: 100%;
    height: auto;
    padding: 30px 3%;
    background-color: #F2F3F7;
    display: flex;
    justify-content: center;
}

.blog>.blog-inner{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    max-width: 1800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.blog>.blog-inner>.blog-items{
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.blog>.blog-inner>.blog-items>.blog-item{
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    padding-bottom: 50px;
    justify-content: space-around;
    border: 1px solid #F2F3F7;
    margin-top: 20px;
}


.blog>.blog-inner>.blog-items>.blog-item>.tools{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-bottom: 10px;
}

.blog>.blog-inner>.blog-items>.blog-item>.blog-image{
    width: 65%;
    height: 20vw;
    background: url(../assets/banner/blog.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px 0 10px 0;
    border-radius: 3px;
    max-width: 550px;
    max-height: 300px;
}

.blog>.blog-inner>.blog-items>.blog-item>.tools>.blog-title{
    font-size: 23px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #E95959;
    text-align: center;
    margin-bottom: 10px;
}

.blog>.blog-inner>.blog-items>.blog-item>.tools>.blog-post{
    font-size: 16px;
    color: #555555;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blog>.blog-inner>.blog-items>.blog-item>.tools>.read{
    font-size: 14px;
    color: #E95959;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: flex-start;
    margin-right: 20px;
    margin-bottom: 6px;
    font-weight: bold;
    margin-top: 20px;
}

.blog>.blog-inner>.blog-items>.blog-item>.tools>.category-name{
    font-size: 14px;
    color: #666666;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: flex-start;
    margin-right: 20px;
    font-weight: bold;
}

.blog>.blog-inner>.blog-categories{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 3px;
}

.blog>.blog-inner>.blog-categories>.title{
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #E95959;
    margin-top: 4%;
    font-weight: 400;
    border-radius: 3px;
    margin-bottom: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.blog>.blog-inner>.blog-categories>.blog-categories-inner{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.blog>.blog-inner>.blog-categories>.blog-categories-inner>a{
    width: min-content;
    padding: 20px 20px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid #F2F3F7;
    border-radius: 3px;
    color: #E95959;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog>.blog-inner>.blog-categories>.blog-categories-inner>a>p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
    width: 100%;
}

.blog>.blog-inner>.blog-categories>.blog-categories-inner>a>.img{
    width: 60px;
    height: 40px;
    margin-bottom: 8px;
    flex-shrink: 0;
    border-radius: 3px;
}

#test_img{
    background: url(../assets/banner/blog.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mobile-navigation-menu>a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-navigation-menu>a>i{
    width: 20%!important;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 3px;
}

.m-blog-categories{
    display: none;
}

@media screen and (max-width:1300px){
    .blog>.blog-inner{
        justify-content: center;
    }

    .blog>.blog-inner>.blog-items>.blog-item{
        flex-direction: column-reverse;
        width: 90%;
    }

    .blog>.blog-inner>.blog-items>.blog-item>.blog-image{
        width: 70%;
        height: 20vw;
        max-height: 250px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .blog>.blog-inner>.blog-items>.blog-item>.tools{
        width: 70%;
        padding-bottom: 40px;
    }
}

@media screen and (max-width:991px){
    .blog{
        padding: 0;
    }

    .blog>.blog-inner{
        padding: 0;
        border-radius: 0;
        border: unset;
        flex-direction: column;
        align-items: center;
        padding-bottom: 60px;
    }
    
    .blog>.blog-inner>.blog-categories>.blog-categories-inner>a>.img{
        width: 100px;
        height: 66px;
        margin-bottom: 8px;
        flex-shrink: 0;
        border-radius: 3px;
    }

    .blog>.blog-inner>.blog-categories{
        width: 90%;
        margin-bottom: 30px;
    }

    .blog>.blog-inner>.blog-items>.blog-item>.blog-image{
        height: 35vw;
        max-height: unset;
    }

    .blog>.blog-inner>.blog-items{
        width: 100%;
        padding: 0;
    }

    .blog>.blog-inner>.blog-items>.blog-item{
        border-radius: 0;
        box-shadow: unset;
        border-bottom: 1px solid #F2F3F7;
    }

    .m-blog-categories{
        display: flex;
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.918);
        z-index: 100;
        overflow-y: auto;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        padding: 20px;
        margin-left: -200vw;
    }

    .m-blog-categories>.inner{
        width: 100%;
        height: auto;
        max-width: 450px;
        display: flex;
        flex-direction: column;
    }

    .m-blog-categories>.inner>.title{
        font-size: 25px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        background-color: #E95959;
        border-radius: 3px;
        text-align: center;
        height: 45px!important;
        margin-bottom: 10px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .m-blog-categories>.inner>ul>li{
        min-height: 45px;
        width: 100%;
        border: 1px solid #E95959;
        border-radius: 3px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        margin-bottom: 10px;
    }

    .m-blog-categories>.inner>ul>li>a{
        font-size: 18px;
        color: #E95959;
        text-align: center;
        width: 100%;
        float: left;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .close-blog{
        width: 50px;
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 450px;
        background-color: #ffffff;
        border-radius: 3px;
        height: 45px;
        padding: 10px;
        color: #E95959;
        border: 1px solid #E95959;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }
}

@media screen and (max-width:767px){
    .blog>.blog-inner>.blog-items>.blog-item{
        flex-direction: column-reverse;
        width: 100%;
        padding: 0;
    }
}