.buy-now-contain{
    width: 100%;
    padding: 30px 3%;
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #F2F3F7;
}

.buy-now-contain>.inner{
    max-width: 1800px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 30px;
}

.buy-now-contain>.inner>form>div{
    width: 93%;
    max-width: 1400px;
}

.buy-now-contain>.inner>form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buy-now-contain>.inner>form>div>table{
    margin: 0;
    min-width: 500px;
}

.buy-now-contain>.inner>form>div>table th,.buy-now-contain>.inner>form>div>table td{
    text-align: center;
    vertical-align: middle;
}

.buy-now-contain>.inner>form>div>table td>input{
    margin: auto;
    text-align: center;
}

.buy-now-contain>.inner>form>div>table td>button{
    width: 40px;
    font-size: 20px;
    background-color: unset;
    color: #E95959;
    border-radius: 100%;
    border: none;
    outline: none;
    height: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 1.5px solid #E95959;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}

.buy-now-contain>.inner>form>div>table td>button:hover{
    color: white;
    background-color: #E95959;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}

.form-par{
    display: flex;
    margin-top: 20px;
    min-width: 300px;
}

.add_item{
    overflow-x: auto;
    margin-left: 20px;
}

.add_item>.inner{
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: white;
    color: #128643;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    align-items: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    cursor: pointer;
    -o-transition: 0.1s;
    border: 1.5px solid #128643;
}

.add_item>.inner:hover{
    background-color: #128643;
    color: white;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}


@media screen and (max-width:991px){
    .buy-now-contain{
        padding: 0;
    }

    .buy-now-contain>.inner{
        border-radius: 0;
        padding: 30px 10px;
        padding-bottom: 60px;
    }
}