.category{
    width: 100%;
    padding: 30px 3%;
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #F2F3F7;
}

.category>.category-inner{
    max-width: 1800px;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.category>.category-inner>h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #666666;
    font-weight: 400;
    border-bottom: 2px solid #E95959;
    margin-left: 25px;
    width: max-content;
    font-size: 30px;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.category>.category-inner,.category>.category-inner>.category-items{
  width: 100%;
  height: 530px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 1%;
}

#owl-category{
    height: 400px!important;
    z-index: 0!important;
}

.owl-item{
    display: flex;
    justify-content: center;
}

#owl-category .item{
    width: 95%!important;
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    cursor: pointer;
}

#owl-category .item>.img{
    width: 90%;
    height: 60%;
}

#owl-category .item>.name{
    margin-top: 10px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0 10px;
    color: #666666;
    font-weight: 300;
}

#owl-category #item1>.img{
    background: url(../assets/banner/product-1.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#owl-category #item2>.img{
    background: url(../assets/banner/product-2.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#owl-category #item3>.img{
    background: url(../assets/banner/product-3.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#owl-category .item1:hover{
    box-shadow: rgba(0, 0, 0, 0.22) 1px 1px 10px;
}

#owl-category .owl-item:nth-child(odd) >.item{
    margin-bottom: 40px;
}

#owl-category .owl-item:nth-child(even) >.item{
    margin-top: 40px;
}

@media screen and (max-width:991px){
    .category{
        padding: 0;
    }

    .category>.category-inner{
        border-radius: 0;
        padding: 0;
        padding-bottom: 60px;
    }

    .category>.category-inner>h1{
        padding: 20px;
        font-size: 24px;
        margin: auto;
    }

    #owl-category .owl-item:nth-child(odd) >.item{
        margin-bottom: 0px;
        height: 340px;
    }
    
    #owl-category .owl-item:nth-child(even) >.item{
        margin-top: 0px;
        height: 340px;
    }
}

@media screen and (max-width:767px){
    .category>.category-inner>.category{
        height: auto;
        margin-top: 10px;
        padding: 2%;
        padding-bottom: 0;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
    }

@media screen and (max-width:500px){
    .category>.category-inner>h1{
        padding: 20px;
        font-size: 16px;
        margin: auto;
    }
}