.mobile-filter>.title{
    width: 100%;
    height: 50px;
    background-color: #E95959;
    color: white;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobile-filter>.title{
    margin-bottom: 20px;
}

.mobile-filter a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    color: #666666;
    font-size: 20px;
}

.mobile-filter a>i{
    width: 25px!important;
    text-align: center;
}

.mobile-filter{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 5px;
}

.mobile-filter{
    display: none;
}

.mobile-filter ul{
    width: 95%;
    padding: 0 5%;
}

.mobile-filter>label{
    width: 90%;
}

.close-filter{
    border-radius: 5px;
    outline: none;
    width: 100%!important;
    height: 35px;
    padding: 0 10px;    
    color: white;
    border: 1px solid #E95959;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: #E95959;
    transition:0.2s;
}

.dashboard>.dashboard-inner>div{
    width: 100%;
    height: auto;
    width: 100%;
	height: auto;
	padding: 20px;
}

.dashboard>.dashboard-inner>div h1{
	width: 100%!important;
	font-size: 30px;
    color: #393E5B;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.dashboard>.dashboard-inner>div>.inner{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #393E5B;
    font-weight: 400;
}

.dashboard>.dashboard-inner>.company-documents>.inner{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.dashboard>.dashboard-inner>.company-documents>.inner>a{
    margin: 0 20px;
}

.dashboard>.dashboard-inner>.company-documents>.inner>a>button{
    width: 140px;
    height: 180px;
    display: flex;
    flex-direction: column;
    outline: none;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #393E5B;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.dashboard>.dashboard-inner>.company-documents>.inner>a>button:hover{
    background-color: #2A304B;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.dashboard>.dashboard-inner>.company-documents>.inner>a>button>span{
    font-size: 20px;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

.dashboard>.dashboard-inner>.company-documents>.inner>a>button>i{
    font-size: 70px;
    color: #fff;
}    

.dashboard>.dashboard-inner>.company-product-list>.inner{
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.dashboard>.dashboard-inner>.company-product-list>.inner>.item{
    width: 33.3%!important;
    height: 355px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px!important;
}

.dashboard>.dashboard-inner>.company-product-list>.inner>.item>.item-inner>.add-bucket{
    margin-top: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dashboard>.dashboard-inner>.company-product-list>.inner>.item>.item-inner>.remove-bucket{
    margin-top: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}

.dashboard>.dashboard-inner>.company-product-list>.inner>.item>.item-inner>.remove-bucket>i{
    color: #E95959!important;
}


.dashboard>.dashboard-inner>.company-product-list>.inner>.item>.item-inner{
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    height: 340px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.1s;
}

.dashboard>.dashboard-inner>.company-product-list>.inner>.item>.item-inner>.item-img{
    width: 200px;
    height: 200px;
    background: url(../assets/blogs/51ZwbyWHSnL.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dashboard>.dashboard-inner>.company-product-list>.inner>.item>.item-inner>.item-name{
    color: #666666;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18;
    padding: 0 10px;
    transition: 0.1s;
}

.dashboard>.dashboard-inner>.company-product-list>.inner>.item>.item-inner>.item-name:hover{
    color: #E95959;
    transition: 0.1s;
}


@media screen and (max-width:991px){
    .mobile-filter-cover{
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.530);
        position: fixed;
        z-index: 99;
        display: none;
    }

    .title{
        padding: 20px 0;
    }

    .mobile-filter{
        position: fixed;
        width: 300px;
        max-width: 400px;
        height: 100vh!important;
        display: flex;
        flex-direction: column;
        left: 0;
        top: 0;
        z-index: 100;
        background-color: rgba(255, 255, 255, 0.918);
        padding: 0;
        margin-left: -100vw;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media screen and (max-width:500px){
    .mobile-filter{
        width: 100%;
        max-width: 100%;
    }

    .dashboard>.dashboard-inner>.company-documents>.inner{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .dashboard>.dashboard-inner>.company-documents>.inner>a{
        margin: 20px 0px;
    }

    .dashboard>.dashboard-inner>.company-documents>.inner>a>button{
        width: 180px;
        height: 220px;
        display: flex;
        flex-direction: column;
        outline: none;
        border: none;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        background-color: #393E5B;
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
    }
}


@media screen and (max-width:1250px) and (min-width:992px){
    .dashboard>.dashboard-inner>.company-product-list>.inner>.item>.item-inner>.item-img{
        width: 80%!important;
        background-size: 100%;
    }
}


@media screen and (max-width:991px){
    .dashboard>.dashboard-inner>.company-product-list>.inner>.item>.item-inner:hover{
        transform: unset;
        box-shadow: unset;
        border: 1px solid #b1b1b1;
    }

    .dashboard>.dashboard-inner>.company-product-list>.inner>.item{
        width: 50%!important;
        padding: 0 2%;
    }
}

@media screen and (max-width:767px){
    .dashboard>.dashboard-inner>.company-product-list>.inner{
        justify-content: center;
    }

    .dashboard>.dashboard-inner>.company-product-list>.inner>.item{
        width: 100%!important;
        padding: 0 2%;
        max-width: 400px;
    }
}