.connection{
    width: 100%;
    height: auto;
    padding: 30px 3%;
    background-color: #F2F3F7;
    display: flex;
    justify-content: center;
}

.connection>.inner{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    max-width: 1800px;
    display: flex;
    flex-direction: column;
    justify-content: center!important;
    align-items: center!important;
}

.connection>.inner iframe{
    width: 100%;
    height: 300px;
    border: unset;
    background-color: #EBE9E4;
    scroll-margin: unset;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.mapouter{
    position:relative;
    text-align:right;
    height:300px;
    width:100%;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:300px;
    width:100%;
}

.connection>.inner>.message-content{
    width: 50%;
    max-width: 600px;
    height: 200px;
    position: absolute;
    background-color: #E95959;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 30px;
    box-shadow: rgba(85, 85, 85, 0.726) 2px 2px 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.connection>.inner>.message-content>form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connection>.inner>.message-content>form>h2{
    width: calc(70% + 100px);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-top: 40px;
    font-size: 22px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
}

.connection>.inner>.message-content>form>.tools{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connection>.inner>.message-content>form>.tools>input{
    width: 70%;
    height: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
}

.connection>.inner>.message-content>form>.tools>button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: #878787;
    color: white!important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
}

.connection>.inner>.message-content>form>.tools>button:hover{
    background-color: #757575;
}

.connection>.inner>.social{
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 10px;
    background: url(../assets/banner/depositphotos_107219356-stock-illustration-pattern-with-social-media-icons.jpg);
    background-size: 40%;
    background-position: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.connection>.inner>.social>.inner{
    width: 100%;
    height: 100%;
    background-color: rgba(117, 117, 117, 0.438);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connection>.inner>.social>.inner>h2{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    border-radius: 10px;
    background-color: #878787;
    -webkit-border-radius: 10px;
    font-size: 20px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(85, 85, 85, 0.726) 2px 2px 15px;
    margin-bottom: 10px;
}

.connection>.inner>.social>.inner>.items{
    width: 400px;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.connection>.inner>.social>.inner>.items>a>.inner{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E95959;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.connection>.inner>.social>.inner>.items>a>.inner i{
    font-size: 30px;
}

.connection>.inner>.social>.inner>.items>a>.inner:hover i{
    color: #E95959;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.connection>.inner>.social>.inner>.items>a>.inner:hover{
    background-color: #F2F3F7;
    transition: 0.2s;;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

@media screen and (max-width: 991px){
    .connection{
        padding: 0;
    }

    .connection>.inner{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .connection>.inner>.message-content{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%!important;
        max-width: 100%;
        padding: 0;
        height: auto;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .connection>.inner>.message-content>form{
        width: 100%;
        padding: 10px;
        max-width: 600px;
        padding-bottom: 40px;
    }

    .connection>.inner>.social{
        height: 250px;
    }

    .connection>.inner>.social>.inner{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .connection>.inner>.social>.inner>h2{
        font-size: 25px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 500px){
    .connection>.inner>.message-content>form>.tools{
        flex-direction: column;        
    }

    .connection>.inner>.message-content>form>.tools>input{
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .connection>.inner>.message-content>form>.tools>button{
        border-radius: 10px;
        margin-top: 15px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .connection>.inner>.social>.inner{
        padding: 20px!important;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .connection>.inner>.social>.inner>h2{
        text-align: center;
    }

    .connection>.inner>.social>.inner>.items{
        justify-content: center;
        width: 300px;
    }

    .connection>.inner>.social>.inner>.items .inner{
        width: 50px!important;
        height: 50px!important;
        margin-left: 10px;
        margin-right: 10px;
    }

    .connection>.inner>.social>.inner>.items>a>.inner>i{
        font-size: 16px;
    }
}