*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.dashboard>.dashboard-inner>div:nth-child(2)>a{
	float: left; 
	margin-top: 30px; 
	background-color: #393E5B; 
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
	font-size: 20px; 
	text-align: center; 
	width: 200px; 
	height: 40px; color: white; 
	vertical-align: middle; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	border-radius: 10px;
	transition:0.2s;
}

.dashboard>.dashboard-inner>div:nth-child(2)>a:hover{
	background-color: #E95959;
	transition:0.2s;
}

.dashboard table td>.i{
    display: flex;
    justify-content: center!important;
    align-items: center!important;
    flex-direction: column;
    width: 100%;
}

.dashboard table td>.i>.icon{
    width: 40px;
    height: 40px;
    background-color: #E95959;
    border-radius: 100%;
    flex-shrink: 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard table td>.i a{
	color: #E95959;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#test-icon-1{
    background: url(../assets/banner/user.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#test-icon-2{
    background: url(../assets/banner/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.dashboard table td>.i>.icon>.inner{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dashboard{
	width: 100%;
	height: auto;
	padding: 30px 3%;
	background-color: #F2F3F7;
	display: flex;
	align-items: center;
	flex-direction: column;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-ms-touch-select: none;
	-ms-user-select: none;
}

.dashboard *{
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-ms-touch-select: none;
	-ms-user-select: none;
}

.dashboard>.wall-inner{
	width: 100%;
	height: 220px;
	max-width: 1800px;
	background: url(../assets/banner/about-banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.dashboard>.wall-inner>.user-logo{
	flex-shrink: 0;
	width: 140px;
	height: 140px;
	background-color: rgba(233, 89, 89, 0.500);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 4%;
}

.dashboard>.wall-inner>.user-logo>.logo{
	width: 120px;
	height: 120px;
	background: url(../assets/banner/user.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 100%;
}

.dashboard>.wall-inner>.tools{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-left: 2%;
}

.dashboard>.wall-inner>.tools>p{
	margin: 0;
}

.dashboard>.wall-inner>.tools>.name{
	font-size: 24px;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dashboard>.wall-inner>.tools>.adress{
	font-size: 20px;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dashboard>.wall-inner>.tools>.brand{
	font-size: 20px;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.dashboard>.dashboard-inner{
	width: 100%;
	height: auto;
	background-color: white;
	border-radius: 10px;
	margin-top: 20px;
	max-width: 1800px;
	display: flex;
}

.dashboard>.dashboard-inner>.manage-panel{
	width: 300px;
	min-width: 300px;
	height: auto;
	background-color: #393E5B;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.dashboard>.dashboard-inner>.manage-panel>ul{
	display: flex;
	flex-direction: column;
	margin-top:50px;
	padding: 0 20px;
	width: 100%;
	overflow: auto;
	padding-bottom: 50px;
}

.dashboard>.dashboard-inner>.manage-panel>ul>li a{
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	height: 45px!important;
	width: 100%;
}

.dashboard>.dashboard-inner>.manage-panel>ul>li{
	width: 100%;
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	padding: 8px 10px;
	line-height: 40px;
	border-bottom: 1px solid #d2d2d2;
	transition: 0.1s;
}

.dashboard>.dashboard-inner>.manage-panel>ul>li:hover{
	background-color: rgb(49, 54, 80);
	transition: 0.1s;
}

.dashboard>.dashboard-inner>.manage-panel>ul>li i{
	width: 30px!important;
	font-size: 15px;
}

.dashboard>.dashboard-inner>.manage-panel>ul>li>ul{
	display: none;
}

.dashboard>.dashboard-inner>.manage-panel>ul>li>ul>li{
	margin: 5px 0;
	padding: 0 5px;
	border-radius: 5px;
	transition: 0.1s;
}

.dashboard>.dashboard-inner>.manage-panel>ul>li>ul>li:hover{
	background-color: rgb(41, 45, 66);
	transition: 0.1s;
}

.dashboard>.dashboard-inner>.manage-panel>ul>li>ul>li>a{
	color: white;
	font-size: 13px;
}

.dashboard>.dashboard-inner>.user-info{
	width: 100%;
	height: auto;
	padding: 20px;
}

.dashboard>.dashboard-inner>.user-info .basic,.dashboard>.dashboard-inner>.user-info>.contact{
	width: 100%;
}

.dashboard>.dashboard-inner>.user-info>.table-responsive{
	margin-top: 20px;
}

.dashboard>.dashboard-inner>.user-info>.table-responsive>table{
	margin-bottom: 0;
	border-collapse: collapse;
}

.dashboard>.dashboard-inner>.user-info .basic>tbody>tr>*,.dashboard>.dashboard-inner>.user-info .contact>tbody>tr>*{
	width: 50%!important;
	height: auto;
	padding: 10px;
	vertical-align: middle;
}

.dashboard>.dashboard-inner>.user-info .basic>tbody .title,.dashboard>.dashboard-inner>.user-info .contact>tbody .title{
	width: 50%;
	font-size: 20px;
	color: white;
	background-color: #393E5B;
	font-weight: normal;
	border-right: 0;
}
.dashboard>.dashboard-inner>.user-info .basic>tbody .title + td,.dashboard>.dashboard-inner>.user-info .contact>tbody .title + td{
	background-color: #393E5B;
	border-left: 0;
}

.dashboard>.dashboard-inner>.user-info .basic>tbody>tr>th,.dashboard>.dashboard-inner>.user-info .contact>tbody>tr>th{
	width: 100%;
	text-align: center;
	color: #545454;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	font-weight: 300;
}

.dashboard>.dashboard-inner>.user-info .basic>tbody>tr>td,.dashboard>.dashboard-inner>.user-info .contact>tbody>tr>td{
	width: 100%;
	text-align: center;
	color: #444444;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 15px;
	font-weight: 400;
}

/* edit-account page */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.edit-account{
	width: 100%;
	height: auto;
	padding: 20px;
}

.edit-account>form>button{
	width: 200px;
	height: 40px;
	background-color: #393E5B;
	border-radius: 5px;
	border: none;
	outline: none;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	transition:0.2s;
}

.edit-account>form>button:hover{
	background-color: #E95959;
	transition:0.2s;
}

.edit-account>.title{
	width: 100%;
	font-size: 30px;
	color: #393E5B;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
}

.edit-account>form{
	padding: 30px 5%;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	border: 1px solid #CED4DA;
	border-radius: 10px;
}

.edit-account>form>label{
	width: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid #CED4DA;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 20px;
}

.edit-account>form>label p{
	margin: 0;
}

.edit-account>form>label>p:first-child{
	color: #E95959;
	margin-left: 10px;
	margin-bottom: 5px;
	font-size: 19px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: normal;
}

.edit-account>form>label>input,.edit-account>form>label>select{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #393E5B;
}

.edit-account>form>.pp_edit>span{
	font-size: 18px;
	color: #393E5B;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-left: 10px;
	margin-bottom: 10px;
}

.edit-account>form>.pp_edit>label{
	display: flex;
	align-items: center;
	width: max-content;
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 300;
	color: #545454;
	margin-top: 10px;
	margin-left: 10px;
}

@media screen and (max-width:991px){
	.edit-account>form{
		padding: 30px 0;
	}
}

/* all-products page */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.all-products{
	width: 100%;
	height: auto;
	padding: 20px;
}

.all-products>.title{
	width: 100%;
	font-size: 30px;
	color: #393E5B;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
}

.all-products>div>table{
	margin-bottom: 0;
	border-collapse: collapse;
}

.all-products>div>table>tbody>tr>*{
	height: auto;
	padding: 10px;
	vertical-align: middle;
}

.all-products>div>table>tbody>tr>td{
	text-align: center;
	color: #545454;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	font-weight: 400;
	white-space: nowrap;
}

.all-products>div>table>tbody>tr :first-child,.all-products>div>table>tbody>tr :nth-child(5),.all-products>div>table>tbody>tr :nth-child(6),.all-products>div>table>tbody>tr :nth-child(7){
	width: 8%;
}

.all-products>div>table>tbody>tr :nth-child(2){
	width: 35%;
}

.all-products>div>table>tbody>tr :nth-child(3),.all-products>div>table>tbody>tr :nth-child(4){
	width: 15%!important;
}

.all-products>div>table>tbody>tr>th{
	text-align: center;
	color: #444444;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 15px;
	font-weight: 500;
}


.all-products>div>table>tbody>tr>td>a>i{
	font-size: 18px;
	width: 20px!important;
	vertical-align: center;
}

.all-products>div>table>tbody>tr>td>a>.fa-info-circle{
	color: #007BFF;
}

.all-products>div>table>tbody>tr>td>a>.fa-edit{
	color: green;
}

.all-products>div>table>tbody>tr>td>a>.fa-trash-alt{
	color: red;
}

.all-products>div>table>tbody>tr>td>.name{
	color: #E95959;
}

/* add-product page */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.add-product{
	width: 100%;
	height: auto;
	padding: 20px;
}

.add-product>form>button{
	width: 200px;
	height: 40px;
	background-color: #393E5B;
	border-radius: 5px;
	border: none;
	outline: none;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	transition:0.2s;
}

.add-product>form>button:hover{
	background-color: #E95959;
	transition:0.2s;
}

.add-product>.title{
	width: 100%;
	font-size: 30px;
	color: #393E5B;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
}

.add-product>form{
	padding: 30px 5%;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	border: 1px solid #CED4DA;
	border-radius: 10px;
}

.add-product>form>label{
	width: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid #CED4DA;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 20px;
}

.add-product>form>.section,.add-product>form>.section2{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.add-product>form>.section2>label{
	width: 48%;
	display: flex;
	flex-direction: column;
	border: 1px solid #CED4DA;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 20px;
}

._product-category{
	width: 100%;
	border: 1px solid #CED4DA;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 20px;
}

._product-sub-category{
	display: none;
	border: 1px solid #CED4DA;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 20px;
}

.add-product>form>label p,.add-product>form>.section>label p,.add-product>form>label p,.add-product>form>.sectio2>label p{
	margin: 0;
}
.add-product>form>label>input,.add-product>form>.section>label>input,.add-product>form>.section2>label>input,.add-product>form>label>select,.add-product>form>.section>label>select,.add-product>form>.section2>label>select{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #393E5B;
}

.add-product>form>.product_imgs>p,.add-product>form>.certificate>p{
	color: #E95959;
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 19px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: normal;
}

.add-product>form>label>p:first-child,.add-product>form>.section>label>p:first-child,.add-product>form>.section2>label>p:first-child,.add-product>form>label>div>p:first-child{
	color: #E95959;
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 19px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: normal;
	margin-top: 0;
}

.add-product>form>.product_imgs{
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.add-product>form>.product_imgs>div{
	width: 48%;
}

@media screen and (max-width:991px){
	.add-product>form>.product_imgs{
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
	}

	.add-product>form>.product_imgs>div{
		width: 100%;
	}

	.add-product>form{
		padding: 30px 0;
	}
}

.add-product>form>.product_imgs>div>span,.add-product>form>.certificate>span{
	font-size: 18px;
	color: #393E5B;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-left: 10px;
	margin-bottom: 10px;
}

.add-product>form>.product_imgs>div>label,.add-product>form>.certificate>label{
	display: flex;
	align-items: center;
	width: max-content;
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 300;
	color: #545454;
	margin-top: 10px;
	margin-left: 10px;
}

.custom-file{
	height: auto!important;
}

/* edit-product page */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.edit-product{
	width: 100%;
	height: auto;
	padding: 20px;
}

.edit-product>form>button{
	width: 200px;
	height: 40px;
	background-color: #393E5B;
	border-radius: 5px;
	border: none;
	outline: none;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	transition:0.2s;
}

.edit-product>form>button:hover{
	background-color: #E95959;
	transition:0.2s;
}

.edit-product>.title{
	width: 100%;
	font-size: 30px;
	color: #393E5B;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
}

.edit-product>form{
	padding: 30px 5%;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	border: 1px solid #CED4DA;
	border-radius: 10px;
}

.edit-product>form>label{
	width: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid #CED4DA;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 20px;
}

.edit-product>form>label p{
	color: #E95959;
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 19px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: normal;
	margin: 0;
}
.edit-product>form>label>input,.edit-product>form>label>select{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #393E5B;
}

.edit-product>form>.product_imgs>p,.edit-product>form>.certificate>p{
	color: #E95959;
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 19px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: normal;
}

.edit-product>form>label>p:first-child,.edit-product>form>label>p:first-child{
	margin-top: 0;
}

.edit-product>form>.product_imgs>span,.edit-product>form>.certificate>span{
	font-size: 18px;
	color: #393E5B;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-left: 10px;
	margin-bottom: 10px;
}

.edit-product>form>.product_imgs>label,.edit-product>form>.certificate>label{
	display: flex;
	align-items: center;
	width: max-content;
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 300;
	color: #545454;
	margin-top: 10px;
	margin-left: 10px;
}

/* message-send-list page */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.send-list{
	width: 100%;
	height: auto;
	padding: 20px;
}

.send-list>.title{
	width: 100%;
	font-size: 30px;
	color: #393E5B;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
}

.send-list>div>table th:first-child{
	width: 40%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.send-list>div>table th:nth-child(2){
	width: 40%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.send-list>div>table th:nth-child(3){
	width: 20%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.send-list>div>table td{
	font-size: 16px;
	color: #393E5B;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.send-list>div>table td>a{
	font-size: 16px;
	color: #E95959;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	vertical-align: middle;
}

/* message-inbox-list page */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.inbox-list{
	width: 100%;
	height: auto;
	padding: 20px;
}

.inbox-list>.title{
	width: 100%;
	font-size: 30px;
	color: #393E5B;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
}


.inbox-list>div>table th:first-child{
	width: 40%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.inbox-list>div>table th:nth-child(2){
	width: 40%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.inbox-list>div>table th:nth-child(3){
	width: 20%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.inbox-list>div>table td{
	font-size: 16px;
	color: #393E5B;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.inbox-list>div>table td>a{
	font-size: 16px;
	color: #E95959;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	vertical-align: middle;
}

/* message-view page */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.message-view{
	width: 100%;
	height: auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}

.message-view>.title{
	width: 100%;
	font-size: 30px;
	padding-bottom: 10px;
	color: #393E5B;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 30px;
}

.message-view>.message-contain{
	width: 100%;
	min-height: 500px;
	border: 1px solid #CED4DA;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.message-view>.message-contain>form{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	bottom: 0;
	border-top:1px solid #CED4DA;
	padding: 20px 0;
}

.message-view>.message-contain>form>textarea{
	width: 80%;
	height: 70px;
	resize: none;
	vertical-align: middle;
	border-radius: 20px;
	font-size: 20px;
	color: #393E5B;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.message-view>.message-contain>form>button{
	width: 60px;
	height: 60px;
	border-radius: 100%;
	border: none;
	outline: none;
	display: flex;
	background-color: #393E5B;
	justify-content: center;
	align-items: center;
}

.message-view>.message-contain>form>button:hover{
	background-color: rgb(41, 46, 70);
}

.message-view>.message-contain>form>button>i{
	font-size: 25px;
	color: #ffffff;
}

.message-view>.message-contain>.messages{
	width: 100%;
	height: auto;
	padding: 2%;
}

.message-view>.message-contain>.messages>.message-item{
	background-color: #393E5B;
	max-width: 60%;
	border-radius: 20px;
	padding: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;
}

.message-view>.message-contain>.messages>.message-item>.message-text{
	width: 100%;
	height: auto;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 10px;
	border-bottom: 1px solid #CED4DA;
}

.message-view>.message-contain>.messages>.message-item>.info{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	padding: 5px 0;
}

.message-view>.message-contain>.messages>.message-item>.info>.user-info{
	width: max-content;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.message-view>.message-contain>.messages>.message-item>.info>.user-info>.pp{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.534);
}

.message-view>.message-contain>.messages>.message-item>.info>.user-info>.pp>.pp-inner{
	width: 44px;
	height: 44px;
	border-radius: 100%;
	flex-shrink: 0;
}

.message-view>.message-contain>.messages>.message-item>.info>.user-info>.name-surname{
	display: flex;
	flex-wrap: wrap;
}

.message-view>.message-contain>.messages>.message-item>.info>.user-info>.name-surname>*{
	font-size: 15px;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-left: 5px;
}

.message-view>.message-contain>.messages>.message-item>.info>.time{
	width: max-content;
	display: flex;
	white-space: nowrap;
	align-items: center;
	color: white;
	font-size: 15px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.message-view>.message-contain>.messages>.from-user{
	float: left;
	background-color: #00C6FF;
}

.message-view>.message-contain>.messages>.from-user>.info>.user-info>.pp>.pp-inner{
	background:url(../assets/banner/1200px-Circle-icons-profile.svg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.message-view>.message-contain>.messages>.from-me>.info>.user-info>.pp>.pp-inner{
	background:url(../assets/banner/user.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.message-view>.message-contain>.messages>.from-me{
	float: right;
	background-color: #0078FF;
}

/* edit-company page */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
.edit-company{
	width: 100%;
	height: auto;
	padding: 20px;
}

.edit-company>form>button{
	width: 200px;
	height: 40px;
	background-color: #393E5B;
	border-radius: 5px;
	border: none;
	outline: none;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	transition:0.2s;
}

.edit-company>form>button:hover{
	background-color: #E95959;
	transition:0.2s;
}

.edit-company>.title{
	width: 100%;
	font-size: 30px;
	color: #393E5B;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
}

.edit-company>form{
	padding: 30px 5%;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	border: 1px solid #CED4DA;
	border-radius: 10px;
}

.edit-company>form>label{
	width: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid #CED4DA;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 20px;
}

.edit-company>form>label p{
	margin: 0;
}

.edit-company>form>label>p:first-child{
	color: #E95959;
	margin-left: 10px;
	margin-bottom: 5px;
	font-size: 19px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: normal;
}

.edit-company>form>label>input,.edit-company>form>label>select,.edit-company>form>label>textarea{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #393E5B;
}

.edit-company>form>label>textarea{
	height: 200px;
	resize: none;
}

/* company-introduction-edit page */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.company-introduction{
	width: 100%;
	height: auto;
	padding: 20px;
}

.company-introduction>form>button{
	width: 200px;
	height: 40px;
	background-color: #393E5B;
	border-radius: 5px;
	border: none;
	outline: none;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	transition:0.2s;
}

.company-introduction>form>button:hover{
	background-color: #E95959;
	transition:0.2s;
}

.company-introduction>.title{
	width: 100%;
	font-size: 30px;
	color: #393E5B;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
}

.company-introduction>form{
	padding: 30px 5%;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	border: 1px solid #CED4DA;
	border-radius: 10px;
}

.company-introduction>form>label{
	width: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid #CED4DA;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 20px;
}

.company-introduction>form>label p{
	margin: 0;
}

.company-introduction>form>label>p:first-child{
	color: #E95959;
	margin-left: 10px;
	margin-bottom: 5px;
	font-size: 19px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: normal;
}

.company-introduction>form>label>input,.company-introduction>form>label>select,.company-introduction>form>label>textarea{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #393E5B;
}

.company-introduction>form>label>textarea{
	height: 200px;
	resize: none;
}

.company-introduction>form>.logo_edit>span{
	font-size: 18px;
	color: #393E5B;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-left: 10px;
	margin-bottom: 10px;
}

.company-introduction>form>.logo_edit>label{
	display: flex;
	align-items: center;
	width: max-content;
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 300;
	color: #545454;
	margin-top: 10px;
	margin-left: 10px;
}

/* sub-manager-list page */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.sub-manager-list{
	width: 100%;
	height: auto;
	padding: 20px;
}

.sub-manager-list>.title{
	width: 100%;
	font-size: 30px;
	color: #393E5B;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
}

.sub-manager-list>div>table th:first-child,.sub-manager-list>div>table th:nth-child(4),.sub-manager-list>div>table th:nth-child(5){
	width: 10%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
}

.sub-manager-list>div>table th:nth-child(2){
	width: 40%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
}

.sub-manager-list>div>table th:nth-child(3){
	width: 30%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
}

.sub-manager-list>div>table td{
	font-size: 16px;
	color: #393E5B;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.sub-manager-list>div>table td>a{
	font-size: 16px;
	color: #E95959;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	vertical-align: middle;
}

.sub-manager-list>div>table td>a>.fa-edit{
	color: green;
}

.sub-manager-list>div>table td>a>.fa-trash-alt{
	color: red;
}

/* add-product page */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.add-manager{
	width: 100%;
	height: auto;
	padding: 20px;
}

.add-manager>form>button{
	width: 200px;
	height: 40px;
	background-color: #393E5B;
	border-radius: 5px;
	border: none;
	outline: none;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	transition:0.2s;
}

.add-manager>form>button:hover{
	background-color: #E95959;
	transition:0.2s;
}

.add-manager>.title{
	width: 100%;
	font-size: 30px;
	color: #393E5B;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
}

.add-manager>form{
	padding: 30px 5%;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	border: 1px solid #CED4DA;
	border-radius: 10px;
}

.add-manager>form>label{
	width: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid #CED4DA;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 20px;
}

.add-manager>form>label p{
	margin: 0;
}
.add-manager>form>label>input,.add-manager>form>label>select{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #393E5B;
}

.add-manager>form>.product_imgs>p,.add-manager>form>.certificate>p{
	color: #E95959;
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 19px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: normal;
}

.add-manager>form>label>p:first-child,.add-manager>form>label>p:first-child{
	color: #E95959;
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 19px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: normal;
	margin-top: 0;
}

/* edit-product page */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.edit-manager{
	width: 100%;
	height: auto;
	padding: 20px;
}

.edit-manager>form>button{
	width: 200px;
	height: 40px;
	background-color: #393E5B;
	border-radius: 5px;
	border: none;
	outline: none;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	transition:0.2s;
}

.edit-manager>form>button:hover{
	background-color: #E95959;
	transition:0.2s;
}

.edit-manager>.title{
	width: 100%;
	font-size: 30px;
	color: #393E5B;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
}

.edit-manager>form{
	padding: 30px 5%;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	border: 1px solid #CED4DA;
	border-radius: 10px;
}

.edit-manager>form>label{
	width: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid #CED4DA;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 20px;
}

.edit-manager>form>label p{
	margin: 0;
}
.edit-manager>form>label>input,.edit-manager>form>label>select{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #393E5B;
}

.edit-manager>form>.product_imgs>p,.edit-manager>form>.certificate>p{
	color: #E95959;
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 19px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: normal;
}

.edit-manager>form>label>p:first-child,.edit-manager>form>label>p:first-child{
	color: #E95959;
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 19px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: normal;
	margin-top: 0;
}

/* buying-list page */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.buying-list{
	width: 100%;
	height: auto;
	padding: 20px;
}

.buying-list>.title{
	width: 100%;
	font-size: 30px;
	color: #393E5B;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
}

.buying-list>div>table th:first-child{
	width: 10%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.buying-list>div>table th:nth-child(2){
	width: 35%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.buying-list>div>table th:nth-child(3){
	width: 35%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.buying-list>div>table th:nth-child(4){
	width: 20%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.buying-list>div>table td{
	font-size: 16px;
	color: #393E5B;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.buying-list>div>table td>a{
	font-size: 16px;
	color: #E95959;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	vertical-align: middle;
}

/* selling-list page */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.selling-list{
	width: 100%;
	height: auto;
	padding: 20px;
}

.selling-list>.title{
	width: 100%;
	font-size: 30px;
	color: #393E5B;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
}

.selling-list>div>table th:first-child{
	width: 10%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.selling-list>div>table th:nth-child(2){
	width: 35%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.selling-list>div>table th:nth-child(3){
	width: 35%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.selling-list>div>table th:nth-child(4){
	width: 20%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.selling-list>div>table td{
	font-size: 16px;
	color: #393E5B;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.selling-list>div>table td>a{
	font-size: 16px;
	color: #E95959;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	vertical-align: middle;
}

/*buying-request-offer  page */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.buying-requests-offer{
	width: 100%;
	height: auto;
	padding: 20px;
}

.buying-requests-offer>form>.title{
	width: 100%;
	font-size: 30px;
	color: #393E5B;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
}

.buying-requests-offer>form>div>table th:first-child{
	width: 10%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.buying-requests-offer>form>div>table th:nth-child(2){
	width: 30%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.buying-requests-offer>form>div>table th:nth-child(3){
	width: 30%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.buying-requests-offer>form>div>table th:nth-child(4),.buying-requests-offer>form>div>table th:nth-child(5){
	width: 15%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
	min-width: 130px;
}

.buying-requests-offer>form>div>table td{
	font-size: 16px;
	color: #393E5B;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.buying-requests-offer>form>div>table td>a{
	font-size: 16px;
	color: #E95959;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	vertical-align: middle;
}

.buying-requests-offer>form>div>button{
	width: 200px;
	height: 40px;
	border: none!important;
	border-radius: 10px;
	background-color: #393E5B;
	color: white;
	font-size: 20px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	transition: 0.2s;
	margin-top: 30px;
	outline: none;
}

.buying-requests-offer>form>div>button:hover{
	background-color: #E95959;
	transition: 0.2s;
}

/*buying-request-view  page */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.buying-requests-view{
	width: 100%;
	height: auto;
	padding: 20px;
}

.buying-requests-view>.title{
	width: 100%;
	font-size: 30px;
	color: #393E5B;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
}

.buying-requests-view>div>table th:first-child{
	width: 10%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.buying-requests-view>div>table th:nth-child(2){
	width: 30%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.buying-requests-view>div>table th:nth-child(3){
	width: 30%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.buying-requests-view>div>table th:nth-child(4),.buying-requests-view>div>table th:nth-child(5){
	width: 15%;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
	min-width: 130px;
}

.buying-requests-view>div>table td{
	font-size: 16px;
	color: #393E5B;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.buying-requests-view>div>table td:last-child{
	color: #E95959;
}

.buying-requests-view>div>table td>a{
	font-size: 16px;
	color: #E95959;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	vertical-align: middle;
}

/*selling-request-view  page */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.selling-requests-view{
	width: 100%;
	height: auto;
	padding: 20px;
}

.selling-requests-view>.title{
	width: 100%;
	font-size: 30px;
	color: #393E5B;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
}

.selling-requests-view>div>table th:first-child{
	width: 10%!important;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.selling-requests-view>div>table th:nth-child(2){
	width: 25%!important;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.selling-requests-view>div>table th:nth-child(3){
	width: 25%!important;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
}

.selling-requests-view>div>table th:nth-child(4),.selling-requests-view>div>table th:nth-child(5){
	width: 20%!important;
	text-align: center;
	vertical-align: middle;
	background-color: #393E5B;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	white-space: nowrap;
	min-width: 130px;
}

.selling-requests-view>div>table td{
	width: min-content!important;
	font-size: 16px;
	color: #393E5B;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.selling-requests-view>div>table td:nth-child(5){
	color: #E95959;
}

.selling-requests-view>div>table td:nth-child(6) a{
	color: #393E5B;
}

.selling-requests-view>div>table td>a{
	font-size: 16px;
	color: #E95959;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	vertical-align: middle;
}


@media screen and (min-width:1400px){
	.message-view{
		align-items: flex-start;
		padding-left: 5%;
	}
}

@media screen and (max-width:1400px){
	.message-view{
		max-width: max-content!important;
	}
}

@media screen and (max-width:991px){
	.dashboard>.wall-inner,.dashboard>.dashboard-inner{
		border-radius: 0;
	}

	.dashboard>.dashboard-inner>div:nth-child(2){
		padding-bottom: 60px!important;
	}

	.dashboard{
		padding: 0;
	}

	.dashboard>.wall-inner{
		margin-top: 20px;
	}

	.dashboard>.dashboard-inner>.manage-panel{
		display: none;
	}

	.dashboard form{
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		border: unset!important;
		border-radius: 10px;
		padding-left: 0!important;
		align-items: center;
	}

	.message-view>.message-contain>form{
		flex-direction: row;
	}

	.add-product>form>.section,.add-product>form>.section2{
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
	
	.add-product>form>.section>label,.add-product>form>.section>label,.add-product>form>.section2>label{
		width: 100%;
		display: flex;
		flex-direction: column;
		border: 1px solid #CED4DA;
		border-radius: 10px;
		padding: 15px;
		margin-bottom: 20px;
	}

	._product-category{
		width: 100%!important;
		border: 1px solid #CED4DA;
		border-radius: 10px;
		padding: 15px;
		margin-bottom: 20px;
	}
	
	._product-sub-category{
		width: 100%!important;
		border: 1px solid #CED4DA;
		border-radius: 10px;
		padding: 15px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width:767px){
	.message-view{
		padding: 0;
	}

	.message-view>.message-contain{
		border-radius: 0;
		border: unset;
		border-top: 1px solid #CED4DA;
		border-bottom: 1px solid #CED4DA;
	}

	.message-view>.message-contain>form{
		flex-direction: row;
	}
	
	.message-view>.message-contain>form>textarea{
		width: 70%;
		height: 50px;
	}
	
	.message-view>.message-contain>form>button{
		width: 50px;
		height: 50px;
	}
	
	.message-view>.message-contain>form>button>i{
		font-size: 17px;
	}

	.message-view>.message-contain>.messages{
		padding: 20px;
	}

	.message-view>.message-contain>.messages>.message-item{
		max-width: 80%;
		padding: 15px;
	}

	.message-view>.message-contain>.messages>.message-item>.info{
		flex-direction: column;
	}

	.message-view>.message-contain>.messages>.message-item>.info>.time{
		margin-top: 10px;
		align-self: flex-end;
	}
}

@media screen and (max-width:555px){
	.dashboard>.wall-inner{
		flex-direction: column;
		height: 350px;
		justify-content: center;
	}

	.dashboard>.wall-inner>.user-logo{
		margin-bottom: 20px;
	}

	.dashboard>.wall-inner>.tools{
		align-items: center;
	}

	.dashboard>.wall-inner>.tools>p{
		margin-bottom: 4px;
	}
}