.faq{
    width: 100%;
    height: auto;
    padding: 30px 3%;
    background-color: #F2F3F7;
    display: flex;
    justify-content: center;
}

.faq>.faq-inner{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    max-width: 1800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

h5{
    display: flex;
    align-items: center;
}

.faq>.faq-inner>*{
    width: 100%!important;
}

.faq>.faq-inner .card{
    margin: 20px;
    background-color: white!important;
    border: 1px solid #F2F3F7;
}

.faq>.faq-inner .card>.card-header{
    background-color: white;
}

.faq>.faq-inner .card button{
    color: #555555;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500!important;
    text-decoration: none;
    text-align: left;
    width: 100%!important;
}

.faq>.faq-inner .card-body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #666666;
}

.card:has(.show){
    padding-right: 100px;
}

@media screen and (max-width:991px){
    .faq{
        padding: 0;
    }

    .faq>.faq-inner{
        padding: 0;
        border-radius: 0;
        border: unset;
        padding-bottom: 60px;
    }
}
