.icofont-search-1{
    font-size: 17px;
    color: white;
}

.icofont-shopping-cart{
    font-size: 25px;
    color: #666666;
    transition: 0.2s;
}

.icofont-shopping-cart:hover{
    color: #e95959;
    transition: 0.2s;
}

.fa-store-alt,.fa-tag,.fa-question-circle,.fa-hands-helping,.fa-blog{
    color: white;
    font-size: 15px;
}

.fa-user-circle{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.fa-times{
    width: 35px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #e95959;
    position: absolute;
    right: 5%;
    top: 25px;
}

.fa-home,.fa-bolt,.icofont-ui-office,.icofont-wheat,.fa-unlock-alt,.fa-running,.icofont-settings{
    width: 30px;
    display: flex;
    font-size: 20px;
    color: #666666;
}

.fa-arrow-circle-left{
    font-size: 24px;
    color: #666666;
}

.fa-facebook-f,.fa-instagram,.fa-linkedin-in,.fa-youtube{
    font-size: 20px;
    color: white;
    transition:0.2s;
    margin: 10px;
}

.fa-facebook-f:hover,.fa-instagram:hover,.fa-linkedin-in:hover,.fa-youtube:hover{
    color: #e95959;
    transition:0.2s;
}

.fa-shopping-basket{
    color: #666666;
    font-size: 20px;
    width: 22.5px;
    height: 25px;
} 

.fa-caret-down::before,.fa-caret-down{
    width: 30px!important;
    height: 30px!important;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-radius: 100%;
    align-items: center;
}