@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

*::selection{
    background-color: #e95959;
    color: white;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none!important;
}

li{
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

.container{
    height: auto;
    overflow: hidden;
    padding: 0!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%!important;
    margin: 0;
    max-width: 100%!important;
}

body{
    background-color: #474545!important;
    min-height: 100vh;
}

.mobile-navigation-menu a{
    color: white!important;
}

.page-nav{
    width: 100%;
    height: 100px!important;
    background-color: #F2F3F7;
    padding: 20px 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-nav>.page-nav-inner{
    width: 100%;
    max-width: 1800px;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-nav>.page-nav-inner *{
    color: #666666;
    margin-right: 5px;
}

.page-nav>.page-nav-inner :last-child{
    color: #e95959;
    margin-right: 0px;
}

.page-nav>.page-nav-inner span{
    color: inherit!important;
    font-size: 13px;
    margin-right: 3px!important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.top-menu{
    width: 100%;
    height: 32px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    padding: 0;
}

.top-menu>.top-menu-inner{
    width: 100%;
    height: 100%;
    display: flex;
    /*text-align: right;*/
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    max-width: 1800px;
}

.shopping-tool{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu>.top-menu-inner .sale-now{
    color: white!important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px!important;
}

.top-menu>.top-menu-inner .buy-now{
    color: white!important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px!important;
}

.top-menu>.top-menu-inner .sale-now>i,.top-menu>.top-menu-inner .buy-now>i{
    color: white;
    font-size: 14px;
    width: 20px;
    height: 20px;
}

.top-menu>.top-menu-inner .break{
    font-size: 18px;
    margin-top: -4px;
    margin: 0 5px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.top-menu>.top-menu-inner>.tools{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu>.top-menu-inner>.tools>a{
    font-size: 14px;
    padding: 0 5px;
    color: #666666;
    font-family: 'Raleway', sans-serif!important;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
}

.top-menu>.top-menu-inner>.tools>span{
    font-size: 20px!important;
    color: white!important;
    margin: 10px!important;
}

.top-menu>.top-menu-inner>.tools>.lang-bar{
    width: 24px;
    height: 16px;
    margin: 0 15px 0 18px;
    background: url(../assets/flags/azerbaijan-flag-medium.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 4;
}

.top-menu>.top-menu-inner>.tools>.lang-bar>.inner{
    position: absolute;
    margin-top: 30px;
    height: auto;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.365) 1px 1px 5px;
    display: none;
    margin-left: -15px;
}
.aze{
    box-shadow: rgba(0, 0, 0, 0.157) 1px 1px 5px;
    width: 35px;
    height: 20px;
    background: url(../assets/flags/azerbaijan-flag-medium.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.en{
    box-shadow: rgba(0, 0, 0, 0.157) 1px 1px 5px;
    margin-top: 10px;
    width: 35px;
    height: 20px;
    background: url(../assets/flags/united-states-of-america-flag-medium.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tr{
    box-shadow: rgba(0, 0, 0, 0.157) 1px 1px 5px;
    margin-top: 10px;
    width: 35px;
    height: 20px;
    background: url(../assets/flags/turkey-flag-medium.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.rus{
    box-shadow: rgba(0, 0, 0, 0.157) 1px 1px 5px;
    margin-top: 10px;
    width: 35px;
    height: 20px;
    background: url(../assets/flags/russia-flag-medium.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar .tools *{
    -moz-user-select: none;
    -webkit-user-select: none;
}

.navbar .tools>a>i>.count{
    position: absolute;
    top: 16px;
    font-size: 13px;
    font-weight: 400!important;
    margin-left:18px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e95959;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 100%;
}

.navbar .tools>a>.fa-envelope>.count,.navbar .tools>a>.fa-bell>.count{
    margin-left: 12px!important;
}

.navbar .tools>a>.icofont-shopping-cart>.count{
    display: none;
}

.navbar .tools>a>i:hover{
    color: #666666!important;
}

.navbar .tools hr{
    margin: 10px 0;
}

.navbar .tools ul{
    position: absolute;
    top: 55px;
    margin-left: -10px;
    background-color: white;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.365) 1px 1px 5px;
    border-radius: 5px;
    z-index: 3;
    display: none;
}

.navbar .tools ul>li{
    padding: 3px 8px;
}

.navbar .tools ul>li>a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #666666;
    line-height: 30px;
}

.navbar .tools ul>li:hover{
    background-color: #F2F3F7;
    border-radius: 3px;
}

.navbar{
    width: 100%;
    height: 85px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.055) 1px 1px 10px;
    z-index: 2;
    border-radius: 0!important;
    margin: 0!important;
    display: flex;
    justify-content: center!important;
    align-items: center!important;
    padding: 0!important;
}

.navbar>.navbar-inner{
    width: 100%;
    height: 100%;
    max-width: 1800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar>.navbar-inner>a>.logo{
    width: 130px;
    height: 52px;
    display: inline-block;
    background: url(../assets/icons/portchase.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar>.navbar-inner>.search>form{
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.navbar>.navbar-inner>.search>form>input{
    width: 300px;
    height: 32px;
    border: 2px solid #fe7e5e;
    outline: none;
    font-weight: 300;
    font-size: 12px;
    /*border-top-left-radius: 15px;*/
    /*border-bottom-left-radius: 15px;*/
    padding: 0 15px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar>.navbar-inner>.search>form>button{
    width: 125px;
    height: 32px;
    border: 2px solid #fe7e5e;
    color: white;
    background-color: #fe7e5e;
    outline: none;
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navbar>.navbar-inner>.tools{
    width: 25%;
    display: flex;
    align-items: center;
}

.navbar>.navbar-inner>.tools>a{
    color:#666666;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    transition: 0.2s;
    cursor: pointer;
    margin: auto;
}

.navbar>.navbar-inner>.tools>a:hover{
    color: #e95959;
    transition: 0.2s;
}

.mobile-navbar{
    display: none;
}

.cover{
    display: none;
}

.footer{
    width: 100%;
    height: 400px;
    background-color: #474545;
    padding: 20px 10% 0 10%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
}

.footer>.site-inner{
    width:100%;
    display: flex;
    flex-direction: column;
    max-width:1800px;
}

.footer>.site-inner>.logo{
    width: 130px;
    height: 52px;
    background: url(../assets/icons/white_logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer>.site-inner>p{
    color: white;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    margin-top: 10px;
}

.footer>.site-terms{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width:1800px;
}

.site-terms h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 20px;
    margin-bottom: 12px;
}

.footer>.site-terms>div{
    text-align: center;
}

.footer>.site-terms>div>ul>li{
    margin-bottom: 5px;
}

.footer>.site-terms>div>ul>li>a{
    color: white;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 2;
    transition:0.2s;
}

.footer>.site-terms>div>ul>li>a:hover{
    color: #e95959;
    transition:0.2s;
}

.footer>.social{
    width:100%;
    margin-top: 20px;
    max-width:1800px;
}

.privacy{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #474545;
}

.privacy>a,.privacy>p{
    font-size: 15px;
    color: white;
    font-weight: 400;
    margin: 0;
    transition:0.2s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.privacy>a:hover{
    color: #e95959;
    transition:0.2s;
}

.mobile-categories,.mobile-navigation-menu,.m-navigation{
    display: none;
}

.navbar>.navbar-inner>.tools>a>.fa-envelope,.navbar>.navbar-inner>.tools>a>.fa-bell,.navbar>.navbar-inner>.tools>a>.fa-user{
    font-size: 20px;
    width: 25px!important;
    height: 27px!important;
    color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar>.navbar-inner .fa-user{
    margin-top: -5px;
}

.navbar>.navbar-inner .fa-bells{
    margin-top: -6px;
}

.navbar>.navbar-inner>.tools>a>.fa-envelope::before,.navbar>.navbar-inner>.tools>a>.fa-bell::before,.navbar>.navbar-inner>.tools>a>.fa-user::before{
    width: 25px!important;
    height: 27px!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar>.navbar-inner>.tools>a>.fa-envelope:hover,.navbar>.navbar-inner>.tools>a>.fa-bell:hover,.navbar>.navbar-inner>.tools>a>.fa-user:hover{
    color: #666666;
}



@media screen and (max-width:991px){
    .page-nav>.page-nav-inner,.product-header>.product-header-inner{
        border-radius: 0!important;
        background-color: white!important;
    }

    .page-nav>.page-nav-inner{
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .page-nav{
        margin-top: 0;
        height: auto!important;
        padding-right: 0;
        padding-left: 0;
    }
    .top-menu,.navbar{
        display: none!important;
    }

    .mobile-navbar{
        display: block;
        padding-right: 10px!important;
        width: 100vw;
        height: 70px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-shadow: rgba(0, 0, 0, 0.055) 1px 1px 5px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .mobile-navbar>a>.logo{
        width: 100px;
        height: 30px;
        background: url(../assets/icons/portchase.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 10px;
        margin-right: 5px;
    }

    .mobile-navbar>form{
        width: 100%;
        max-width: 300px!important;
        padding: 0;
        height: 30px;
        display: flex;
        border-radius: 20px;
        border: none;
        background-color: rgba(0, 0, 0, 0.04);
    }

    .mobile-navbar>form>input{
        width: 100%;
        margin: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: none;
        outline: none;
        padding-top: 2px;
        background-color: rgba(0, 0, 0, 0);
        color: gray;
    }

    .mobile-navbar>form>button{
        width: 40px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border: none;
        outline: none;
        background-color: rgba(255, 255, 255, 0);
    }

    .mobile-navbar>form>button>i{
        font-size: 13px;
        color: gray;
    }


    .mobile-categories{
        display: block;
        width: 100%;
        height: 40px;
        overflow: auto;
        z-index: 1;
        background-color: white;
        margin-top: 70px;
    }

    .mobile-categories>ul{
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 20px;
    }

    .mobile-categories>ul>li{
        margin-right:20px;
    }

    .mobile-categories>ul>li:first-child{
        margin-right: 20px;
    }

    .mobile-categories>ul>li>a>div{
        width: max-content;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        font-size: 13px;
        color: #666666;
    }

   .privacy{
        height: 80px;
        margin-bottom:70px;
    }

    .mobile-navigation-menu{
        position: fixed;
        width: 100vw;
        height: 70px;
        background-color: #e95959;
        z-index: 100!important;
        bottom: 0;
        left: 0;
        box-shadow: rgba(0, 0, 0, 0.229) 1px 1px 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-navigation-menu>a{
        width: 20%;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 12px;
        color: #ffffff;
        font-family: sans-serif;
    }

    .mobile-navigation-menu>a>i{
        font-size: 14px;
        color: #ffffff;
        margin-bottom: 3px;
    }

    .last-buyers{
        height: 400px;
    }

    .m-navigation{
        display: flex;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.918);
        z-index: 104;
        top: 0;
        margin-left: -250vw;
    }

    .m-navigation>ul{
        display: flex;
        flex-direction: column;
        margin-top:50px;
        padding: 0 20px;
        width: 100%;
        overflow: auto;
        padding-bottom: 50px;
    }

    .m-navigation>ul>li a{
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #e95959;
        height: 45px!important;
        width: 100%;
    }

    .m-navigation>ul>li{
        width: 100%;
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #e95959;
        margin-top: 8px;
        padding: 0 10px;
        line-height: 40px;
        border-bottom: 1px solid #d2d2d2;
    }

    .m-navigation>ul>li i{
        width: 25px;
        width: 30px!important;
        font-size: 20px;
    }

    .m-navigation>ul>li>ul{
        display: none;
    }

    .m-navigation>ul>li>ul>li{
        margin: 5px 0;
    }
    
    .m-navigation>ul>li>ul>li>a{
        color: #474545;
        font-size: 16px;
    }

}

@media screen and (max-width:767px){
    .page-nav>.page-nav-inner{
        padding-left: 12px;
    }
}

@media screen and (max-width:699px){
    .footer{
        height: auto!important;
        padding-bottom: 50px;
    }

    .footer>.site-inner{
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer>.site-inner>.logo{
        margin-bottom: 10px;
    }

    .footer>.site-terms{
        flex-direction: column;
    }

    .footer>.site-terms>div{
        margin-bottom: 20px;
    }
    
    .footer>.social{
        justify-content: center;
        width: max-content;
        margin: auto;
    }

    .mobile-navbar,.mobile-navigation-menu{
        height: 60px;        
    }

    .privacy{
        margin-bottom:60px;
    }

    .mobile-categories{
        margin-top: 60px;
    }
}


@media screen and (min-width:425px){
    .mobile-navbar{
        justify-content: space-around;
    }
}