@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .navbar{
        z-index: 3!important;
    }
    
    .header>.header-inner>.categories>ul>li>ul{
        position: absolute;
        margin-left: 20px;
        width: 730px;
        background-color: #f1f1f1;
        height: 373px;
        top: 225px;
        cursor: default;
        display: none;
        padding: 20px;
        flex-direction: column;
        z-index: 1;
    }

    .greather{
        width: 14px;
        height: 14px;
        background: url(../assets/icons/greather.png);
        background-size: 100%;
        background-repeat: no-repeat;
        border: none;
        position: absolute;
        z-index: 2;
    }

    .h{
        width: 1px!important;
        height: 150px!important;
        position: absolute;
        background-color:  rgba(233, 89, 89, 0.663);
        left: 0;
        right: 0;
        margin: auto;
        margin-top: -75px!important;
    }

    #owl-main{
        width: 58%;
    }

    .product-header>.product-header-inner>.product>.product-info>.tools>.message>i{
        margin-right: 4px;
        padding-top: 4px;
    }

    .dashboard>.dashboard-inner>.manage-panel>ul>li i{
        padding-top: 10px;
        width: 30px!important;
        font-size: 15px;
    }

    .product-list>.product-list-inner>.filter{
        height: 693px;
        border: 1px solid #b1b1b1;
        border-radius: 3px;
        margin-top: 10px;
        margin-left: 20px;
        padding: 0;
    }

    .navbar .tools>a>.fa-envelope>.count,.navbar .tools>a>.fa-bell>.count{
        position: static;
        z-index: 4;
        margin-top: -20px;
        flex-shrink: 0!important;
    }

    .navbar .tools ul{
        position: absolute;
        margin: 0!important;
        margin-top: 15px!important;
        margin-left: -60px!important;
        margin-right: 60px!important;
    }

    .navbar .tools ul li .pop-up{
        display: none!important;
    }

    .connection>.inner>.message-content{
        width: 50%;
        max-width: 600px;
        height: 200px;
        position: absolute;
        background-color: #7c7c7c;
        left: 0;
        margin-top: -100px!important;
        right: 0;
        margin: auto;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.356) 1px 1px 15px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (min-width:1500px){
    .product-slider,.product-slider>.products,.product-slider #carousel,.product-slider #carousel .item,.product-slider #carousel .pictureFrame,.product-slider #carouselWrapper{
        width: 270px!important;
    }

    .product-slider{
        margin-right: 34px!important;
    }

    .product-slider #carousel .item>.tools{
        width: 135px!important;
    }
}