.last-buyers{
    width: 100%;
    height: auto;
    padding: 20px 3%;
    background-color: #f2f3f7;
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 1;
    align-items: center;
}

.last-buyers>.last-buyers-inner{
    border-top: 2px solid #e95959;
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    max-width: 1800px;
}

.last-buyers>.last-buyers-inner>.last-buyers-content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner{
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
    height: auto;
    padding: 0 15px;
}

.last-buyers>.last-buyers-inner>.last-buyers-content>.tools{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.last-buyers>.last-buyers-inner>.last-buyers-content>.tools>.add{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e95959;
    margin-right: 20px;
}

.last-buyers>.last-buyers-inner>.last-buyers-content>.tools>.title{
    display: flex;
    margin-left: 20px;
}

.last-buyers>.last-buyers-inner>.last-buyers-content>.tools>.title>*{
    margin-top: 10px;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.last-buyers>.last-buyers-inner>.last-buyers-content>.tools>.title>p{
    margin-bottom: 0;
    margin-right: 8px;
    color: #666666;
}

.last-buyers>.last-buyers-inner>.last-buyers-content>.tools>.title>a{
    color: #e95959;
}

.last-buyers>.last-buyers-inner>.seperator{
    width: 1px;
    height: 90%;
    background-color: #e95959;
}

.last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item>.item>.inner-seperator{
    width: 1px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #e95959;
}

.test {
    width: 100%;
    height: 70px;
    background: red;
}

.last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel{
    width: 100%;
    height: auto;
}

.last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item{
    width: 100%;
    height: 70px;
}

.last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item>.item{
    display: flex;
    width: 100%!important;
    align-items: center;
    height: 60px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #f2f3f7;
    border-radius: 10px;
}

.last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item>.item:hover{
    cursor: pointer;
}

.last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item>.item>.i{
    display: flex;
    justify-content: center!important;
    align-items: center!important;
    width: max-content;
}

#test-icon-1{
    background: url(../assets/banner/user.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#test-icon-2{
    background: url(../assets/banner/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item>.item>.i>.name,
.last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item>.item>.product-name,
.last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item>.item>.publish-date{
    color: #666666;
    width: max-content;
    font-size: 16px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item>.item *:hover{
    color: #e95959!important;
}

.last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item>.item>.i>.icon{
    width: 40px;
    height: 40px;
    background-color: #E95959;
    border-radius: 100%;
    flex-shrink: 0;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item>.item>.i>.icon>.inner{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white!important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media screen and (max-width:1250px){
    .last-buyers{
        width: 100%;
        height: auto;
        padding: 20px 3%;
        background-color: #f2f3f7;
        overflow: hidden;
    }

    .last-buyers>.last-buyers-inner{
        flex-direction: column;
        height: 100%;
    }

    .seperator{
        display: none;
    }

    .last-buyers>.last-buyers-inner>.last-buyers-content{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:991px){
    .last-buyers{
        height: auto;
    }
}

.vert .carousel_item-next.carousel_item-left,
.vert .carousel_item-prev.carousel_item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel_item-next,
.vert .active.carousel_item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel_item-prev,
.vert .active.carousel_item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}

@media screen and (max-width:767px){
    .last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item>.item>.i{
        display: flex;
        justify-content: center!important;
        align-items: center!important;
        flex-direction: column;
        width: max-content;
    }

    .last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item{
        height: 100px!important;
    }

    .last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item>.item{
        height: 80px;
    }

    .last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item>.item>.i>.name,
    .last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item>.item>.product-name,
    .last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item>.item>.publish-date{
        text-align: center;
    }

    .last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item>.item>.i>.icon{
        margin-right: 0;
        margin-bottom: 4px;
    }

    .last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item>.item>.inner-seperator{
        width: 1px;
        height: 30px;
    }

    .last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item>.item>.i,
    .last-buyers>.last-buyers-inner>.last-buyers-content>.last-buyers-content-inner>.carousel .carousel_item>.item>.product-name{
        width: 40%;
    }

    
}