.notification-list{
    width: 100%;
    padding: 30px 3%;
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #F2F3F7;
}

.notification-list>.inner{
    width: 100%;
    max-width: 1800px;
    height: auto;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    flex-direction: column;
}

.notification-list>.inner>.collapse-title{
    width: 100%;
    display: flex;
}

.notification-list>.inner>.collapse-title>ul{
    display: flex;
    width: 250px;
    justify-content: space-around;
    align-items: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    margin: 0;
}

.notification-list>.inner>.collapse-title>ul>li{
    width: 32%;
    background-color: #F2F3F7;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    color: #555555;
}

.notification-list>.inner>.collapse-title>ul>li>i{
    margin-right: 5px;
}

.notification-list>.inner>.collapse-title>ul>.active{
    background-color: #E95959;
    color: white;
}

.notification-list>.inner>.collapse-inner{
    width: 100%;
    display: flex;
    height: auto;
    margin-top: 20px;
    padding: 0 5px;
}

.notification-list>.inner>.collapse-inner>div{
    height: auto;
    width: 100%;
    display: none;
    border-radius: 10px;
    border: 1px solid #F2F3F7;
}

.notification-list>.inner>.collapse-inner>.active{
    display: flex;
    flex-direction: column;
}

.notification-list>.inner>.collapse-inner>div>h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #E95959;
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.notification-list>.inner>.collapse-inner>div>.inner{
    width: 100%;
    height: auto;
    padding: 10px;
}

.notification-list>.inner>.collapse-inner>div>.inner>.item{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center!important;
    width: 100%;
    padding: 15px;
    display: flex;
    border-radius: 5px;
    flex-wrap: wrap!important;
    margin-bottom: 10px;
}

.notification-list>.inner>.collapse-inner>div>.inner>.item:nth-child(even){
    background-color: white;
    border: 1px solid #F2F3F7;
}

.notification-list>.inner>.collapse-inner>div>.inner>.item:nth-child(odd){
    background-color: #F2F3F7;
}

.notification-list>.inner>.collapse-inner>div>.inner>.item>.name{
    display: flex;
    float: left;
    align-items: center;
    margin-right: 5px;
    font-weight: 500;
}

.notification-list>.inner>.collapse-inner>div>.inner>.item>.name a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #444444;
    white-space: normal;
}

.notification-list>.inner>.collapse-inner>div>.inner>.item>.name>.icon{
    width: 40px;
    height: 40px;
    background-color: #E95959;
    border-radius: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.notification-list>.inner>.collapse-inner>div>.inner>.item>.name>.icon>.inner{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#test{
    background: url(../assets/banner/user.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.notification-list>.inner>.collapse-inner>div>.inner>.item>.notification-text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #555555;
    font-size: 15px;
}

.notification-list>.inner>.collapse-inner>div>.inner>.item>.notification-text>.date{
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #777777;
}



@media screen and (max-width:991px){
    .notification-list{
        padding: 0;
        background-color: white;
    }

    .notification-list>.inner{
        border-radius: 0;
        margin-bottom: 60px;
    }
}

@media screen and (max-width:500px){
    .notification-list>.inner>.collapse-title{
        width: max-content;
    }

    .notification-list>.inner>.collapse-inner>div>.inner>.item>.name{
        margin-right: 0;
    }

    .notification-list>.inner>.collapse-inner>div>.inner>.item>.notification-text{
        width: 100%;
        margin-top: 5px;
        padding: 5px;
    }
}