.payment ::-ms-input-placeholder{
    color: rgb(118, 118, 118);
}

.payment{
    width: 100%;
    padding: 30px 3%;
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #F2F3F7;
}

.payment>.inner{
    width: 100%;
    max-width: 1800px;
    height: auto;
    border-radius: 10px;
    background-color: white;
    display: flex;
    padding: 30px 10px;
}

.payment>.inner h1{
    text-align: start;
    width: 100%!important;
    font-size: 22px;
    color: #666666;
    font-weight: 400;
    padding-left: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.payment>.inner>.payment-info{
    width: 50%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.payment>.inner>.payment-info>.saved-products{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

.payment>.inner>.payment-info>.saved-products>.inner{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #CED4DA;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px 0;
}

.payment>.inner>.payment-info>.saved-products>.inner>table{
    width: 90%;
    font-size: 17px;
}

.payment>.inner>.payment-info>.saved-products>.inner>table tr:first-child{
    color: #888888;
    font-weight: 400;
}

.payment>.inner>.payment-info>.saved-products>.inner>table td:first-child{
    width: 70px;
    vertical-align: middle;
    text-align: center;
}

.payment>.inner>.payment-info>.saved-products>.inner>table td:nth-child(2){
    text-align: center;
}

.payment>.inner>.payment-info>.saved-products>.inner>table td:nth-child(2) a{
    color: #E95959;
    font-weight: 400;
}

.payment>.inner>.payment-info>.user-info{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    margin-top: 20px;
}

.payment>.inner>.payment-info>.user-info>form{ 
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #CED4DA;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.payment>.inner>.payment-info>.user-info>form>input, .payment>.inner>.payment-info>.user-info>form>select,.payment>.inner>.payment-info>.user-info>form>.section{
    margin-bottom: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 90%;
    font-size: 17px;
}

.payment>.inner>.payment-info>.user-info>form :last-child{
    margin-bottom: 0;
}

.payment>.inner>.payment-info>.user-info>form>.section{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.payment>.inner>.payment-info>.user-info>form>.section>*{
    width: 49%;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.payment>.inner>.payment-inner{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

.payment>.inner>.payment-inner>.inner{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: 1px solid #CED4DA;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px 0;
}

.payment>.inner>.payment-inner>.inner>form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment>.inner>.payment-inner>.inner>*{
    width: 90%;
}

.payment>.inner>.payment-inner>.inner li{
    width: max-content;
    height: auto;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #CED4DA;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-size: 17px;
}

.payment>.inner>.payment-inner>.inner li>a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #666666;
}

.payment>.inner>.payment-inner>.inner li>.active{
    color: #E95959;
}

.payment>.inner>.payment-inner>.inner li:nth-child(2){
    margin-left: 10px;
}

.payment>.inner .nav-tabs{
    border: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.payment>.inner .tab-content{
    margin-top: 20px;
}

.payment>.inner>.payment-inner span{
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #888888;
    margin-left: 10px;
}

.payment>.inner>.payment-inner .section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}

.payment>.inner>.payment-inner .section>*{
    width: 49%;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.payment>.inner>.payment-inner form button{
    width: 170px;
    height: 38px;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    border: none;
    outline: none;
    background-color: #E95959;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.payment>.inner>.payment-inner form button:hover{
    background-color: #f36969;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

@media screen and (max-width:991px){
	.payment>.inner{
        border-radius: 0;
        padding-bottom: 60px;
    }

    .payment{
        padding: 0;
    }
}

@media screen and (max-width:767px){
	.payment>.inner{
        flex-direction: column;
        align-items: center;
    }

    .payment>.inner>.payment-inner{
        margin-top: 20px;
    }

    .payment>.inner>div{
        width: 100%!important;
    }

    .section{
        flex-direction: column;
    }

    .section>*{
        width: 100%!important;
        margin-bottom: 0!important;
    }

    .section>*:last-child{
        margin-top: 20px!important;
    }

    .city{
        margin-bottom: 0!important;
    }
}