.product-list{
    width: 100%;
    padding: 30px 3%;
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #F2F3F7;
}

.product-list>.product-list-inner{
    width: 100%;
    max-width: 1800px;
    height: auto;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 30px 10px;
}

.product-list>.product-list-inner>.inner{
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.product-list>.product-list-inner>.inner>.item{
    width: 33.3%!important;
    height: 355px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px!important;
}

.product-list>.product-list-inner>.inner>.item>.item-inner>.add-bucket{
    margin-top: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.product-list>.product-list-inner>.inner>.item>.item-inner>.remove-bucket{
    margin-top: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}

.product-list>.product-list-inner>.inner>.item>.item-inner>.remove-bucket>i{
    color: #E95959!important;
}


.product-list>.product-list-inner>.inner>.item>.item-inner{
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    height: 340px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.1s;
}

.product-list>.product-list-inner>.inner>.item>.item-inner>.item-img{
    width: 200px;
    height: 200px;
    background: url(../assets/blogs/51ZwbyWHSnL.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-list>.product-list-inner>.inner>.item>.item-inner>.item-name{
    color: #666666;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18;
    padding: 0 10px;
    transition: 0.1s;
}

.product-list>.product-list-inner>.inner>.item>.item-inner>.item-name:hover{
    color: #E95959;
    transition: 0.1s;
}

.product-list>.product-list-inner>.filter{
    height: 693px;
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    margin-top: 8px;
    margin-left: 20px;
    padding: 0;
}

.filter>.title,.mobile-filter>.title{
    width: 100%;
    height: 50px;
    background-color: #E95959;
    color: white;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobile-filter>.title{
    margin-bottom: 20px;
}

.filter *,.mobile-filter *{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.filter>form,.mobile-filter{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 5px;
}

.filter>form>label,.mobile-filter>label{
    width: 100%!important;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    align-items: center;
}

.filter>form>label>*,.mobile-filter>label>*{
    width: 100%;
    max-width: 300px;
    text-align: left;
    margin: 0;
}

.filter>form>label>p:first-child,.mobile-filter>label>p:first-child{
    font-size: 18px;
    color: #666666;
    margin-left: 35px;
    font-weight: 400;
}

.filter>form>label:first-child >input,.mobile-filter>label:nth-child(2) >input{
    border-radius: 5px;
    width: 90%;
    outline: none;
    border: 1px solid #b1b1b1;
    height: 35px;
    padding: 0 10px;
    color: #E95959;
}

.filter>form>label:first-child >input::placeholder,.mobile-filter>label:nth-child(2) >input::placeholder{
    color: #b1b1b1;
    font-size: 14px;
}

.filter>form>.checks>p,.mobile-filter>.checks>p{
    margin-bottom: 6px;
}

.filter>form>.checks>label,.mobile-filter>.checks>label{
    display: flex;
    font-size: 14px;
    color: #666666;
    transition: 0.2s;
    width: 90%;
}

.filter>form>.checks>label>input,.mobile-filter>.checks>label>input{
    border-radius: 100%;
    margin-right: 5px;
    margin-top: 3px;
    margin-left: 5px;
}

.filter>form>.checks>label>input:checked + span,.mobile-filter>.checks>label>input:checked + span{
    color: #E95959;
    transition: 0.2s;
}

.filter>form>label>.select,.mobile-filter>label>.select{
    border-radius: 5px;
    outline: none;
    border: 1px solid #b1b1b1;
    height: 35px;
    padding: 0 10px;
    color: #E95959;
    width: 90%;
    background-color: white;
}

.filter>form>label>.select>option,.mobile-filter>label>.select>option{
    color: #666666;
}

.filter>form>label .in,.mobile-filter>label .in{
    font-size: 18px;
    margin-left: 10px;
    color: #2D6991;
}

.filter>form>label>.submit,.mobile-filter>label>.submit,.close-filter{
    border-radius: 5px;
    outline: none;
    width: 90%!important;
    height: 35px;
    padding: 0 10px;    
    color: white;
    border: 1px solid #E95959;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: #E95959;
    transition:0.2s;
}

.filter>form>label>.submit:hover,.mobile-filter>label>.submit:hover{
    background-color: white;
    border: 1px solid #E95959;
    color: #E95959;
    transition:0.2s;;
}

.mobile-filter{
    display: none;
}

@media screen and (max-width:1250px) and (min-width:992px){
    .product-list>.product-list-inner>.inner>.item>.item-inner>.item-img{
        width: 80%!important;
        background-size: 100%;
    }
}


@media screen and (max-width:991px){
    .product-list{
        padding: 0;
    }

    .product-list>.product-list-inner{
        border-radius: 0;
        margin-bottom: 60px;
    }

    .product-list>.product-list-inner>.inner>.item>.item-inner:hover{
        transform: unset;
        box-shadow: unset;
        border: 1px solid #b1b1b1;
    }

    .product-list>.product-list-inner>.inner>.item{
        width: 50%!important;
        padding: 0 2%;
    }

    .filter{
        display: none;
    }

    .mobile-filter-cover{
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.530);
        position: fixed;
        z-index: 99;
        display: none;
    }

    .title{
        padding: 20px 0;
    }

    .mobile-filter{
        position: fixed;
        width: 300px;
        max-width: 400px;
        height: 100vh!important;
        display: flex;
        flex-direction: column;
        left: 0;
        top: 0;
        z-index: 100;
        background-color: white;
        padding: 0;
        margin-left: -100vw;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .mobile-filter>label{
        margin-bottom: 30px;
    }

    .mobile-filter>.checks>label{
        margin-bottom: 10px!important;
    }

    .filter>form>label:first-child >input,.mobile-filter>label:first-child >input,.filter>form>label>.select,.mobile-filter>label>.select,.mobile-filter>label>.submit,.close-filter{
        height: 45px;
    }
}

@media screen and (max-width:767px){
    .product-list>.product-list-inner>.inner{
        justify-content: center;
    }

    .product-list>.product-list-inner>.inner>.item{
        width: 100%!important;
        padding: 0 2%;
        max-width: 400px;
    }
}

@media screen and (max-width:500px){
    .mobile-filter{
        width: 100%;
        max-width: 100%;
    }

}