.container{
    height: auto;
    overflow: hidden;
    padding: 0!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%!important;
    margin: 0;
    max-width: 100%!important;
    background-color: #474545;
}

a:hover{
    text-decoration: none!important;
}

.product-header{
    width: 100%;
    padding: 30px 3%;
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #F2F3F7;
}

.product-header>.product-header-inner{
    width: 100%;
    max-width: 1800px;
    height: 100%;
    border-radius: 10px;
}

.product-header>.product-header-inner>.product{
    width: 65%;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    float: left;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product-header>.product-header-inner>.product>.product-preview{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

/* image-preview-slider */
.product-header>.product-header-inner>.product>.product-preview .demo{
    width:300px;
    height: 300px;
    border: 1px solid #F2F3F7;
    background-color: white;
    padding: 5px!important;
}

.product-header>.product-header-inner>.product>.product-preview .demo .lSGallery li{
    border: 2px solid #F2F3F7!important;
}

.product-header>.product-header-inner>.product>.product-preview .demo ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.product-header>.product-header-inner>.product>.product-preview .demo li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}

.product-header>.product-header-inner>.product>.product-preview .demo .item{
    width: 300px;
    height: 250px;
    background: url(../assets/blogs/51ZwbyWHSnL.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.product-header>.product-header-inner>.product>.product-info{
    width: 52%;
    height: 300px;
    border: 1px solid #F2F3F7;
    display: flex!important;
    flex-direction: column;
    justify-content: space-evenly!important;
    align-items: center;
    padding: 20px;
    margin-right: 5%;
}

.product-header>.product-header-inner>.product>.product-info>.product-name{
    text-align: center;
    font-size: 25px;
    color: #E95959;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product-header>.product-header-inner>.product>.product-info>ul{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 2%;
}

.product-header>.product-header-inner>.product>.product-info>ul hr{
    border-width: 0.1px;
    margin: 2px!important;
    border-color: #F2F3F7;
}

.product-header>.product-header-inner>.product>.product-info>ul>li{
    width: 100%;
    display: flex;
    padding: 0 2%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #666666;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    align-items: center;
}

.product-header>.product-header-inner>.product>.product-info>ul>li>p,.product-header>.product-header-inner>.product>.product-info>ul>li>a{
    color: #E95959;
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 10px;
}

.product-header>.product-header-inner>.product>.product-info>.tools{
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-header>.product-header-inner>.product>.product-info>.tools>.order{
    width: 120px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #E95959;
    background-color: #E95959;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product-header>.product-header-inner>.product>.product-info>.tools>.order:hover{
    background-color: white;
    color: #E95959;
    transition: 0.2s;
}


.product-header>.product-header-inner>.product>.product-info>.tools>.message{
    width: 90px;
    height: 35px; 
    border-radius: 5px;
    outline: none;
    border: 1px solid #E95959;
    background-color: white;
    color: #E95959;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    transition: 0.2s;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.add-bucket i,.remove-bucket i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-header>.product-header-inner>.product>.product-info>.tools>.message:hover{
    background-color: #E95959;
    color: white;
    transition: 0.2s;
}

.product-header>.product-header-inner>.product>.product-info>.tools>.message>i{
    margin-right: 4px;
}


.product-header>.product-header-inner>.product>.product-info>.tools>.add-bucket{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #666666;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
    transition:0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-header>.product-header-inner>.product>.product-info>.tools>.remove-bucket{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #E95959;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
    transition:0.2s;
    display: none;
    justify-content: center;
    align-items: center;
}

.product-header>.product-header-inner>.product>.product-info>.tools>.remove-bucket>i{
    color: #E95959!important;
}

.product-header>.product-header-inner>.other{
    width: 30%;
    height: auto;
    float: right;
}

.product-header>.product-header-inner>.other>.other-products,.product-header>.product-header-inner>.other>.last-products{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.product-header>.product-header-inner>.other>.other-products>.title,.product-header>.product-header-inner>.other>.last-products>.title{
    width: 100%;
    height: auto;
    color: #666666;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    background-color: white;
    border-left: 2px solid #E95959;
    padding-left: 30px;
    margin-bottom: 10px;
}

.product-header>.product-header-inner>.other>.other-products>.last-product-slider{
    height: auto;
}

.product-header>.product-header-inner>.other>.other-products>.last-product-slider>.items{
    height: 300px;
    overflow:hidden;
}

.product-header>.product-header-inner>.other>.other-products>.last-product-slider>.items>.item{
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    border-left:2px solid #E95959;
    align-items: center;
    transition:0.2s;
    margin-bottom: 5px;
}

.product-header>.product-header-inner>.other>.other-products>.last-product-slider>.items>.item:hover{
    transition:0.2s;
    background-color: #E95959;
}


.product-header>.product-header-inner>.other>.other-products>.last-product-slider>.items>.item:hover a{
    color: white;
    transition: 0.2s;
}

.product-header>.product-header-inner>.other>.other-products>.last-product-slider>.items>.item>.item-img{
    width: 60px;
    height: 60px;
    background: url(../assets/blogs/glass.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 20px;
    margin-right: 10px;
}

.product-header>.product-header-inner>.other>.other-products>.last-product-slider>.items>.item>.item-name{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #666666;
    transition:0.2s;
}

.product-header>.product-header-inner>.other>.other-products>.last-product-slider>.prev-button,.product-header>.product-header-inner>.other>.other-products>.last-product-slider>.next-button{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #E95959;
    font-size: 30px;
    margin-bottom: 5px;
}

.product-header>.product-header-inner>.other>.last-products>.last-item{
    padding: 10px;
    font-size: 15px;
    color: #666666;
    background-color: white;
    width: max-content;
    margin-top: 10px;
    transition: 0.2s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product-header>.product-header-inner>.other>.last-products>.last-item:hover{
    background-color: #E95959;
    color: white;
    transition: 0.2s;
}

.product-header>.product-header-inner>.product-description{
    width: 65%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-header .product-description #tabs{
    display: flex!important;
}

.product-header .product-description #tabs>li{
    width: 150px;
    display: flex;
    background-color: white;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.product-header .product-description #tabs>li>a{
    color: #666666;
}

.product-header .product-description #tabs>li:first-child>a{
    color: #E95959;
}

.product-header .product-description #tabs>li:first-child{
    border-top-left-radius: 10px;
}

.product-header .product-description #tabs>li:last-child{
    margin-left: 10px;
    border-top-right-radius: 10px;
}

.product-header .product-description #productTabs,.product-header .product-description #companyTabs{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    height: 40px;
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: space-around;
}


.product-header .product-description #productTabs>li{
    width:max-content!important;
    display: flex!important;
    margin: 0 5px;
}

.product-header .product-description #productTabs>li>a,.product-header .product-description #companyTabs>li>a{
    color: #666666;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    border-radius: 5px;
    width:max-content!important;
}

.product-header .product-description #productTabs>li:nth-child(2) a,.product-header .product-description #companyTabs>li:nth-child(2) a{
    color: #E95959;
}


.product-header #product>.tab-content>div,.product-header #company>.tab-content>div{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.product-header>.product-header-inner>.comments{
    width: 65%;
    height: auto;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.product-header>.product-header-inner>.comments>.title{
    font-size: 25px;
    color: #E95959;
    text-align: center;
    border-bottom: 1px solid #F2F3F7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product-header>.product-header-inner>.comments>.comment-item{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #F2F3F7;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.product-header>.product-header-inner>.comments>.comment-item>.user{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.product-header>.product-header-inner>.comments>.comment-item>.user>.user-icon{
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
    background: url(../assets/banner/1200px-Circle-icons-profile.svg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    margin-right: 7px;
}

.product-header>.product-header-inner>.comments>.comment-item>.user>.user-name{
    color: #4E5C73;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.product-header>.product-header-inner>.comments>.comment-item>.comment-text{
    font-size: 14px;
    color: #666666;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product-header>.product-header-inner>.add-comment{
    width: 65%;
    height: auto;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.product-header>.product-header-inner>.add-comment>.title{
    font-size: 25px;
    color: #E95959;
    text-align: center;
    border-bottom: 1px solid #F2F3F7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product-header>.product-header-inner>.add-comment>form{
    display: flex;
    justify-content: center;
    padding: 30px 0;
    align-items: center;
    flex-direction: column;
}

.product-header>.product-header-inner>.add-comment>form>textarea{
    max-width: 600px;
    width: 50%;
    height: 14vw!important;
    max-height: 220px;
    min-height: 140px;
    margin-bottom: 20px!important;
    border: 1px solid #E95959;
    border-radius: 5px;
    outline: none;
    color: #4E5C73;
    resize: none;
    padding: 5px 12px;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product-header>.product-header-inner>.add-comment>form>button{
    width: 120px;
    height: 35px;
    font-size: 17px;
    color: white;
    background-color: #E95959;
    outline: none;
    border: 1px solid #E95959;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    transition:0.2s;
}

.product-header>.product-header-inner>.add-comment>form>button:hover{
    background-color: white;
    color: #E95959;
    transition:0.2s;
}

/* message-to page */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

.product-header>.product-header-inner>.message-to{
    width: 65%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.message-to>form{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    border: 1px solid #CED4DA;
    width: 80%;
    padding: 50px 30px;
    border-radius: 10px;
    max-width: 800px;
}

.message-to>p{
    color: #E95959;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 30px;
    margin-bottom: 0;
}

.message-to>form>label>p{
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #393E5B;
}

.message-to>form>label:first-child{
    margin-bottom: 30px;
}

.message-to>form>label>input{
    height: 40px;
    width: 100%;
    color: #393E5B;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.message-to>form>label>textarea{
    height: 140px;
    width: 100%;
    resize: none;
    color: #393E5B;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.message-to>form>button{
    width: 200px;
    height: 40px;
    background-color: #393E5B;
    border-radius: 5px; color: white;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    border: none;
    transition: 0.2s;
    margin: auto;
    margin-top: 40px;
}

.message-to>form>button:hover{
    background-color: #E95959;
    transition: 0.2s;
}

@media screen and (max-width:1250px){
    .product-header .product-description #productTabs,.product-header .product-description #companyTabs{
        justify-content: space-between!important;
    }
}

@media screen and (max-width:1100px){


    .product-header>.product-header-inner{
        flex-direction: column!important;
        margin-bottom: 50px;
    }

    .product-header>.product-header-inner>div{
        width: 100%!important;
    }
}

@media screen and (max-width:991px){
    .product-header>.product-header-inner>.add-comment>form>textarea{
        width: 80%;
    }

    .product-header>.product-header-inner>.product,.product-header>.product-header-inner>.message-to{
        border-radius: 0;
    }

    .product-header{
        padding: 0;
        background-color: white;
    }

    .product-header>.product-header-inner .last-products{
        flex-direction: row!important;
        justify-content: flex-start;
        flex-wrap: wrap!important;
        padding-bottom: 10px!important;
    }

    .product-header>.product-header-inner .last-products>a{
        margin: 10px;
    }

    .product-header>.product-header-inner{
        padding-bottom: 60px;
    }

    .product-header .product-description #tabs>li{
        border-radius: 0!important;
    }

    .product-header #product>.tab-content>div,.product-header #company>.tab-content>div{
        border-radius: 0!important;
    }

    .product-header>.product-header-inner>.other{
        margin-bottom: 10px;
    }

    .product-header .product-description #productTabs,.product-header .product-description #companyTabs{
        overflow-x: auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .product-header .product-description #productTabs>li,.product-header .product-description #companyTabs>li{
        width:max-content!important;
        display: flex!important;
        margin: 0 5px;
    }

    .product-header .product-description #productTabs>li>a,.product-header .product-description #companyTabs>li>a{
        display: flex;
        width: max-content;
    }

    .product-header>.product-header-inner>.comments{
        border-radius: 0;
    }

    .product-header>.product-header-inner>.other>.other-products>.last-product-slider>.items>.item,.product-header>.product-header-inner>.other>.other-products>.title,.product-header>.product-header-inner>.other>.last-products>.title{
        border-right: 2px solid #E95959;
    }

    .product-header>.product-header-inner>.other>.other-products>.title,.product-header>.product-header-inner>.other>.last-products>.title{
        text-align: center;
    }
}

@media screen and (max-width:699px){
    .product-header>.product-header-inner #tabs{
        justify-content: center!important;
    }

    .product-header>.product-header-inner .product{
        flex-direction: column;
        height: 750px!important;
    }

    .product-header>.product-header-inner .product>.product-info{
        width: 90%;
    }

    .product-header>.product-header-inner>.other>.other-products>.item{
        margin: 10px 0!important;
    }

    .product-header>.product-header-inner .last-products>a{
        width: 100%!important;
        text-align: center;
        margin: 0;
        margin-top: 10px!important;
        border-left: 2px solid #666666;
    }

    .product-header>.product-header-inner>.product>.product-info{
        padding: 0px;
    }
}

@media screen and (max-width:500px){
    .message-to>form{
        width: 100%;
        border: unset;
        border-bottom: 1px solid #CED4DA;
        border-radius: 0;
        margin-top: 0;
    }
}