*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh!important;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0!important;
    display: flex;
    justify-content: center;
    width: 100%!important;
    align-items: center;
    margin: 0;
    background: url(../assets/banner/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%!important;
}

.image{
    width: 42%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    color: white;
    text-align: center;
}

.image>*{
    max-width: 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.inner{
    width: 58%;
    height: 100vh;
    padding: 0 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding: 30px 0;
    padding-bottom: 80px;
    overflow-y: auto;
}

.inner>h2{
    color: #666666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
    width: 80%;
}

::placeholder{
    color: #666666;
    font-weight: 400;
}

.inner>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    margin-top: 20px;
    max-width: 800px;
}

.inner>form>input,.inner>form>select{
    width: 80%;
    height: 45px;
    margin-bottom: 30px;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #E95959;
    padding: 0 15px;
    background-color: white;
    border: 1px solid #666666;
    border-radius: 5px;
    outline-color: #E95959;
    font-weight: normal;
}

.inner>form>button{
    width: 200px;
    height: 45px;
    background-color: #666666;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition:0.2s;
}

.inner>form>button:hover{
    background-color: #E95959;
    color: white;
    transition:0.2s;
}

.inner>span{
    text-align: center;
    width: 100%;
    margin-top: 30px;
    color: #666666;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.inner>span>a{
    color: #E95959;
    text-decoration: underline;
}

.item-logo{
    width: 200px;
    height: 100px!important;
    flex-shrink: 0;
    background: url(../assets/icons/portchase.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

form>label>.show-hide{
    width: 40px!important;
    height: 20px!important;
    border-radius: 15px;
    background-color: rgb(228, 229, 237);
    padding: 4px;
    margin-left: 10px;
}

form>label>.show-hide>.round{
    width: 12px;
    height: 12px;
    background-color: rgb(27, 85, 226);
    border-radius: 100%;
    float: left;
}

.password-options{
    display: flex;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #666666;
    align-items: center;
    margin-bottom: 20px;
}

@media screen and (max-width:991px){
    .container{
        padding: 0!important;
    }

    .image{
        display: none;
    }

    

    .inner{
        width: 100%;
        height: 100vh;
        border-radius: 0;
        padding: 30px 0;
        max-width: unset;
    }

    .inner>form{
        width: 100%;
    }
}

