.all-requests{
    width: 100%;
    height: auto;
    padding: 30px 3%;
    background-color: #F2F3F7;
    display: flex;
    justify-content: center;
}

.all-requests>.inner{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    max-width: 1800px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.all-requests .item .i{
    display: flex;
    justify-content: center!important;
    align-items: center!important;
    flex-direction: column;
}

.all-requests .item .i>.icon{
    width: 40px;
    height: 40px;
    background-color: #E95959;
    border-radius: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-requests .item .i a{
    font-size: 17px;
    color: #666666;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
    transition: 0.2s;
}


.all-requests .item .i>.icon>.inner{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#test-icon-1{
    background: url(../assets/banner/user.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#test-icon-2{
    background: url(../assets/banner/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.all-requests>.inner>.contents{
    width: 100%;
    height: auto;
    background-color: white;
    border: 1px solid #F1F1F1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.all-requests>.inner>.contents>div{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.all-requests>.inner>.contents>div>.item{
    width: 49%;
    margin: 0.5%;
    display: flex;
    align-items: center;
    border: 1px solid #F1F1F1;
    padding: 10px;
    border-radius: 10px;
}

.all-requests>.inner>.contents>div>.item>span{
    width: 1px!important;
    height: 35px;
    background-color: #787878;
}

.all-requests>.inner>.contents>div>.item>.product-name,.all-requests>.inner>.contents>div>.item>.date,.all-requests>.inner>.contents>div>.item>.i{
    width: 33%;
    text-align: center;
    font-size: 17px;
    color: #666666;
    transition: 0.2s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.all-requests>.inner>.contents>div>.item a:hover{
    color: #E95959!important;
    transition: 0.2s;
}

.all-requests h1{
    font-size: 40px;
    color: #E95959;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 30px 0;
}

@media screen and (max-width:991px){
    .all-requests{
        padding: 0;
        border: none;
    }

    .all-requests>.inner{
        padding: 0;
        border-radius: 0;
        border: none!important;
        padding-bottom: 60px;
    }

    .all-requests>.inner>.contents{
        border: none!important;
    }

    .all-requests>.inner>.contents>div>.item{
        width: 100%;
    }
}

@media screen and (max-width:550px){
    .all-requests>.inner>.contents>div>.item{
        align-items: center;
        margin-top: 10px;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: column;
    }

    .all-requests>.inner>.contents>div>.item>*{
        width: 100%!important;
    }

    .all-requests>.inner>.contents>div>.item>.product-name,.all-requests>.inner>.contents>div>.item>.date{
        margin-left: 5px;
        margin-right: 5px;
    }

    .all-requests>.inner>.contents>div>.item span{
        display: none;
    }

    .all-requests .item .i{
        display: flex;
        justify-content: center!important;
        align-items: center!important;
        flex-direction: column;
    }
}