.shopping-cart{
    width: 100%;
    height: auto;
    padding: 30px 3%;
    background-color: #F2F3F7;
    display: flex;
    justify-content: center;
}

.shopping-cart>.inner{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    max-width: 1800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1800px;
}

.shopping-cart>.inner>ul{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.shopping-cart>.inner>ul>li{
    margin-top: 20px;
}

.shopping-cart>.inner>ul>li:first-child{
    margin-top: 0;
}

.shopping-cart>.inner>h2{
    font-size: 40px;
    color: #E95959;
    text-align: center;
    margin-top: 30px;

}

.shopping-cart>.inner>ul>li>.item{
    width: 80vw;
    max-width: 1500px;
    height: 300px;
    border: 1px solid #F2F3F7;
    border-radius: 10px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}

.shopping-cart>.inner>ul>li>.item:hover{
    width: 80vw;
    max-width: 1500px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 5px;
    border-radius: 10px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}

.shopping-cart>.inner>ul>li>.item:first-child{
    margin-top: 0;
}

.shopping-cart>.inner>ul>li>.item>.item-image{
    width: 220px;
    height: 220px;
    border: 1px solid #b1b1b1;
    margin:auto;
    border-radius: 5px;
    padding: 15px;
}

.shopping-cart>.inner>ul>li>.item>.item-image>.img{
    width: 100%;
    height: 100%;
    background: url(../assets/blogs/51ZwbyWHSnL.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.shopping-cart>.inner>ul>li>.item>.table{
    width: 60%;
    margin:auto;
}

.shopping-cart>.inner>ul>li>.item>.table>.tools{
    width: 100%;
}

.shopping-cart>.inner>ul>li>.item>div>.tools,.shopping-cart>.inner>ul>li>.item>div>.tools th,.shopping-cart>.inner>ul>li>.item>div>.tools td{
    border: 1px solid #b1b1b1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.shopping-cart>.inner>ul>li>.item>div>.tools th{
    color: #E95959;
}

.shopping-cart>.inner>ul>li>.item>div>.tools td{
    color: #666666;
    vertical-align: middle;
}

.shopping-cart>.inner>ul>li>.item>div>.tools td>a{
    color: #666666;
    padding: 0;
    margin: 0;
    font-weight: 500;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.shopping-cart>.inner>ul>li>.item>div>.tools td>a:hover{
    color: #E95959;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.shopping-cart>.inner>ul>li>.item>div>.tools *{
    width: 33%!important;
    height: 40px;
    text-align: center;
    padding: 15px 3px;
}

.shopping-cart>.inner>ul>li>.item>div>.tools input{
    height: 20px;
    width: 60%!important;
}

.shopping-cart .remove-item{
    width: 30px;
    height: 30px;
    background-color: #666666;
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin:auto;
}

.shopping-cart .remove-item:hover{
    background-color: #E95959;
}

.shopping-cart .remove-item>i,.remove-item>i:after{
    margin: 0!important;
    padding: 0!important; 
    position: static!important; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; 
    color: white;
    width: 25px; 
    height: 25px;
}

.shopping-cart form>button{
    margin-bottom: 30px;
    width: 220px;
    height: 50px;
    color: white;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    border: none!important;
    outline: none!important;
    border-radius: 10px;
    background-color: #E95959;
    transition:0.2s;
}

.shopping-cart form>button:hover{
    background-color: rgb(201, 76, 76);
    transition:0.2s;
}

.shopping-cart form>button:after{
    border: none!important;
    outline: none!important;
}

@media screen and (max-width:991px){
    .shopping-cart{
        padding: 0;
    }

    .shopping-cart>.inner{
        border-radius: 0!important;
        background-color: white;
        padding: 0;
        padding-bottom: 60px;
    }

    .shopping-cart .item{
        width: 100vw!important;
        flex-direction: column;
        height: auto!important;
        padding: 10px;
        border: 0!important;
        border-bottom: 2px solid #b1b1b1!important;
        border-radius: 0!important;
        box-shadow: unset!important;
        padding-bottom: 40px;
    }

    .shopping-cart h2{
        font-size: 25px!important;
    }

    .shopping-cart .item>div>.tools *{
        white-space: nowrap;
    }

    .shopping-cart .item>.table .tools{
        margin-top: 20px;
    }

    .shopping-cart .item>.table{
        margin-bottom: 20px;
        width: 70%!important;
    }

    .shopping-cart .tools{
        width: 100%!important;
        min-width: 500px;
    }

}

@media screen and (max-width:500px){
    .shopping-cart .item>.table{
        width: 90vw!important;
        padding-bottom: 20px;
    }
}