/* blogs */
.last-blogs .owl-carousel{
  width: 600px;
  height: 250px;
  z-index: 0!important;
  margin-right: 50px;
}

.last-blogs .owl-carousel .item{
  width: 100%;
  height: 250px;
  text-align: center;
}

.last-blogs .owl-carousel .item>.blog-image{
  width: 100%;
  height: 200px;
  background: url(../assets/blogs/slide-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 7px;
}

.last-blogs .owl-carousel .item>.title{
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

/* products */

#owl-carousel2{
  height: 400px!important;
  z-index: 0!important;
}

.owl-item{
  display: flex;
  justify-content: center;
}

#owl-carousel2 .item{
  width: 95%!important;
  height: 340px;
  border: 1px solid #b1b1b1;
  border-radius: 3px;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#owl-carousel2 .title{
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #666666;
  transition: 0.2s;
}

#owl-carousel2 .title:hover{
  color: #e95959;
  transition: 0.2s;
}

#owl-carousel2 .img{
  width: 205px;
  height: 205px;
  background: url(../assets/blogs/51ZwbyWHSnL.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#owl-carousel2 .item1:hover{
  box-shadow: rgba(0, 0, 0, 0.22) 1px 1px 10px;
}

#owl-carousel2 .tools{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#owl-carousel2 .tools>.price{
  font-size: 18px;
  color: #666666;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#owl-carousel2 .tools>.add-bucket,#owl-carousel2 .tools>.remove-bucket{
  cursor: pointer;
  vertical-align: middle;
  height: 22.5px!important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#owl-carousel2 .tools>.remove-bucket{
  display: none;
}

#owl-carousel2 .tools>.remove-bucket>i{
  color: #e95959;
}

/* main-carousel */
#owl-main{
  width: 100%;
  height: 450px;
  z-index: 0!important;
  overflow: hidden;
  margin-top: 35px;
  margin-left: -10px;
}

#owl-main .item{
  width: 100%!important;
  height: 425px!important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#owl-main #item1{
  background: url(../assets/slider/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


#owl-main #item2{
  background: url(../assets/slider/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#owl-main #item3{
  background: url(../assets/slider/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#owl-main #item4{
  background: url(../assets/slider/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/* blogs */
.blogs-image{
  width: 100vw;
  height: 100vh;
  background: url(../assets/banner/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0!important;
}

.last-products{
  width: 100%;
  height: 550px;
  background-color: #f2f3f7;
  padding: 20px 3%!important;
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.last-products h1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #e95959;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

.last-products>.last-products-inner{
  border-top: 2px solid #e95959;
  border-radius: 10px;
  max-width: 1800px;
}

.last-products>.last-products-inner,.last-products>.last-products-inner>.products{
  width: 100%;
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 1%;
}

.horizontal{
  display: none;
}

@media screen and (max-width:1400px){
  .horizontal{
    display: block;
    position: absolute;
    top: 680px;
    width: 91%!important;
    left: 0;
    right: 0;
    margin: auto;
    border-bottom: 2px solid #e95959;
    z-index: 1;
    border-radius: 10px;
  }

  .horizontal>.products{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 20px;
    background-color: #e95959;
  }
      
  #product-slider-horizontal .item{
      width: 99%;
      display: flex;
      justify-content: space-around;
      height: 130px;
      align-items: center;
      border: 1px solid #b1b1b1;
      border-radius: 15px;
  }

  #product-slider-horizontal .item>.tools{
      width: 50%;
      height: 130;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  #product-slider-horizontal .item>.tools>.product-name{
      font-size: 13px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #666666;
      text-align: center;
      margin-bottom: 10px;
  }

  #product-slider-horizontal .item>.tools>.view-more{
      width: 60px;
      height: 25px;
      background-color: #e95959;
      border: none;
      outline: none;
      border-radius: 5px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      transition: 0.2s;
      font-size: 12px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  #product-slider-horizontal .item>.tools>.view-more:hover{
      background-color: #cb5959;
      transition: 0.2s;
  }

  #product-slider-horizontal .item>.item-img{
      width: 90px;
      height: 90px;
  }

  #product-slider-horizontal #item_1>.item-img{
      background: url(../assets/banner/51iRiTUfB4L._AC_UY218_.jpg);
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center;
  }


  #product-slider-horizontal #item_2>.item-img{
      background: url(../assets/banner/61gawIiuEBL._AC_UY218_.jpg);
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center;
  }

  #product-slider-horizontal #item_3>.item-img{
      background: url(../assets/banner/61vjUCzQCaL._AC_UY218_.jpg);
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center;
  }

  #product-slider-horizontal #item_4>.item-img{
      background: url(../assets/banner/71u12Vkaa9L._AC_UY218_.jpg);
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center;
  }

  #product-slider-horizontal #item_5>.item-img{
      background: url(../assets/banner/81T2DGhCZlL._AC_UY218_.jpg);
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center;
  }
  
}

@media screen and (max-width:1250px){
.last-blogs .item{
    width: 300px!important;
    height: 250px;
  }
}