.header{
    width: 100%;
    height: 570px;
    background-color: #f2f3f7;
    padding: 20px 3%!important;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header>.header-inner{
    width: 100%;
    max-width: 1800px;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border-top: 2px solid #e95959;
}

.header>.header-inner>.categories{
    padding: 10px 20px;
    margin-top: 20px;
    z-index: 1!important;
    margin-right: 10px;
}

.header>.header-inner>.categories>ul>li>ul{
    position: absolute;
    top: 228px;
    margin-left: 280px;
    width: 730px;
    background-color: #f1f1f1;
    height: auto;
    cursor: default;
    display: none;
    padding: 20px;
    flex-direction: column;
    z-index: 1;
}

.header>.header-inner>.categories>ul>li>ul>div{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.header>.header-inner>.categories>ul>li>ul>div>a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #282828;
    font-size: 25px;
    border-bottom: 2px solid #e95959;
    padding: 0 5px;
    text-align: center;
    font-weight: 400;
}

.header>.header-inner>.categories>ul>li>ul>.inner{
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    align-content: flex-start;
    text-align: left;
}

.header>.header-inner>.categories>ul>li>ul>.inner>ul{
    width: 30%;
    margin-bottom: 20px;
    margin-right: 3%;
}

.header>.header-inner>.categories>ul>li>ul>.inner>ul>li>a{
    font-size: 13px;
    color: #282828;
    line-height: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    transition:0.1s;
}

.header>.header-inner>.categories>ul>li>ul>.inner>ul>li>a:hover{
    color: #e95959;
    transition:0.1s;
}

.header>.header-inner>.categories>ul>li>ul>.inner>ul>.title>a{
    color: black!important;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px!important;
}

.header>.header-inner>.categories>.title>.category-icon{
    width: 20px;
    height: 20px;
    background: url(../assets/icons/menu.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 15px;
    margin-right: 10px;
}

.header>.header-inner>.categories>.title{
    display: flex;
    font-size: 25px;
    height: auto;
    color: #666666;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid #e95959;
    width: 300px;
    padding-bottom: 5px;
    margin-top: 20px;
}

.header>.header-inner>.categories>.title>p{
    margin: 0;
}

.header>.header-inner>.categories>ul{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.header>.header-inner>.categories>ul>li{
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: white;
    font-weight: 500;
    justify-content: space-between!important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.157);
    cursor: pointer;
}

.header>.header-inner>.categories>ul>li:hover>ul{
    display: flex;
}

.header>.header-inner>.categories>ul>li:hover{
    background-color: #f1f1f1;;
}

.header>.header-inner>.categories>ul>li>p,.header>.header-inner>.categories>ul>li>a{
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    color: #666666;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.greather{
    width: 14px;
    height: 14px;
    background: url(../assets/icons/greather.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
}


.last-blogs{
    width: 100%;
    height: 350px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-us{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #e95959;
}

.follow-us>p{
    color: white;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}

.follow-us>form{
    display: flex;
    width: 100%;
    justify-content: center;
}

.follow-us>form>input{
    width: 400px;
    height: 40px;
    outline: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
    font-size: 16px;
    padding: 0 20px;
    color: #666666;
}

.follow-us>form>button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: #878787;
    color: white!important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
}

.follow-us>form>button:hover{
    background-color: #757575;
}

.navbar>.navbar-inner>.tools>a>.fa-envelope,.navbar>.navbar-inner>.tools>a>.fa-bell,.navbar>.navbar-inner>.tools>a>.fa-user{
    font-size: 20px;
    color: #666666;
    transition: 0.2s;
}

.navbar>.navbar-inner>.tools>a>.fa-envelope:hover,.navbar>.navbar-inner>.tools>a>.fa-bell:hover,.navbar>.navbar-inner>.tools>a>.fa-user:hover{
    color: #e95959;
    transition: 0.2s;
}

iframe{
    z-index: 1;
}

@media screen and (max-width:1400px){
    .header{
        height: 830px;
    }

    .header>.header-inner{
        justify-content: space-between;
    }

    .header>.header-inner>.categories{
        position: relative!important;
        margin: 0!important;
    }

    .header>.header-inner>#owl-main{
        position: relative!important;
        width: 100%;
        margin-right: 18px;
    }

    .header>.header-inner>.categories>ul>li>ul{
        top: 52px!important;
        margin-top: 20px;
    }
    
}

@media screen and (max-width:1220px){
    .header>.header-inner>.categories>ul>li>ul{
        width: 570px!important;
    }
}

@media screen and (max-width:1250px){
    .last-blogs{
        width: 100%;
        height: 700px;
        background-color: rgba(255, 255, 255, 0);
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }

    .last-blogs .owl-carousel{
        margin-right: 0;
        margin-top: 30px;
    }

    .last-blogs .owl-carousel .item{
        width: 50%;
        text-align: center;
      }
}


@media screen and (max-width:991px){
    .top-menu,.navbar{
        display: none!important;
    }

    .mobile-navbar{
        display: block;
        padding-right: 10px!important;
        width: 100vw;
        height: 70px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-shadow: rgba(0, 0, 0, 0.055) 1px 1px 5px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .mobile-navbar>a>.logo{
        width: 100px;
        height: 30px;
        background: url(../assets/icons/portchase.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 10px;
        margin-right: 5px;
    }

    .mobile-navbar>form{
        width: 100%;
        max-width: 300px!important;
        padding: 0;
        height: 30px;
        display: flex;
        border-radius: 20px;
        border: none;
        background-color: rgba(0, 0, 0, 0.04);
    }

    .mobile-navbar>form>input{
        width: 100%;
        margin: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0);
        color: gray;
    }

    .mobile-navbar>form>button{
        width: 40px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border: none;
        outline: none;
        background-color: rgba(255, 255, 255, 0);
    }

    .mobile-navbar>form>button>i{
        font-size: 13px;
        color: gray;
    }

    .categories{
        display:none;
    }

    .header{
        padding: 0!important;
        height: 460px!important;
    }

    .header>.header-inner{
        width: 100%!important;
        border-radius: 0!important;
        border: 0;
        padding: 0!important;
        display: flex;
        flex-direction: column;
    }

    .header #owl-main{
        width: 100vw!important;
        margin: 0!important;
        height: 220px!important;
    }

    .header #owl-main .item{
        width: 100vw!important;
        height: 220px!important;
    }

    .header .owl-carousel{
        margin: 0!important;
    }

    .mobile-categories{
        display: block;
        width: 100%;
        height: 40px;
        overflow: auto;
        background-color: white;
        margin-top: 70px;
    }

    .mobile-categories>ul{
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 20px;
    }

    .mobile-categories>ul>li{
        margin-right:20px;
    }

    .mobile-categories>ul>li:first-child{
        margin-right: 20px;
    }

    .mobile-categories>ul>li>a>div{
        width: max-content;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        font-size: 13px;
        color: #666666;
    }

    .horizontal{
        width: 100vw!important;
        position: static;
        margin: 0!important;
        padding: 0 3%;
        border-radius: 0;
        padding-bottom: 8px!important;
    }

    .last-products{
        padding: 0!important;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .last-products>.last-products-inner{
        border: 0;
        border-radius: 0;
    }

    #owl-carousel2 .item{
        border-radius: 15px;
    }

    .last-products>.last-products-inner>h1{
        font-size: 24px;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    .last-blogs iframe{
        width: 600px;
        height: 340px;
    }

    .follow-us{
        height: auto;
        padding: 40px 20px;
    }

    .follow-us>p{
        font-size: 20px;
        padding: 0 10px;
        text-align: center;
    }

    .follow-us>form>input{
        font-size: 13px;
    }

    .follow-us>form>button{
        font-size: 10px;
    }

    .privacy{
        height: 80px;
        margin-bottom:70px;
    }

    .mobile-navigation-menu{
        position: fixed;
        width: 100vw;
        height: 70px;
        background-color: #e95959;
        z-index: 2;
        bottom: 0;
        box-shadow: rgba(0, 0, 0, 0.229) 1px 1px 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-navigation-menu>a{
        width: 20%;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 12px;
        color: #ffffff;
        font-family: sans-serif;
    }

    .mobile-navigation-menu>a>i{
        font-size: 14px;
        color: #ffffff;
        margin-bottom: 3px;
    }

    .m-navigation{
        display: flex;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.918);
        z-index: 4;
        top: 0;
        margin-left: -150vw;
    }

    .m-navigation>ul{
        display: flex;
        flex-direction: column;
        margin-top:50px;
        padding: 0 20px;
        width: 100%;
        overflow: auto;
        padding-bottom: 50px;
    }

    .m-navigation>ul>li a{
        font-size: 20px;
        font-family: monospace;
        color: #e95959;
        height: 45px!important;
        width: 100%;
    }

    .m-navigation>ul>li{
        width: 100%;
        font-size: 20px;
        font-family: monospace;
        color: #e95959;
        margin-top: 8px;
        padding: 0 10px;
        line-height: 40px;
        border-bottom: 1px solid #d2d2d2;
    }

    .m-navigation>ul>li i{
        width: 25px;
        width: 30px!important;
        font-size: 20px;
    }

    .m-navigation>ul>li>ul{
        display: none;
    }

    .m-navigation>ul>li>ul>li{
        margin: 5px 0;
    }
    
    .m-navigation>ul>li>ul>li>a{
        color: #474545;
        font-size: 16px;
    }
}

@media screen and (max-width:699px){
    .last-blogs{
        height: 570px;
    }

    .last-blogs iframe{
        width: 300px;
        height: 170px;
    }
}

.search-custom-select {
    position: relative;
    font-weight: 100;
    font-size: 12px;
}
.search-custom-select select{
    height: 32px;
    border: 2px solid #fe7e5e;
    border-right: 0px;
    padding: 0 32px;
    border-radius: 15px 0 0 15px;
}

.logo-a{
    width: 20%;
    text-align: center;
}

.navbar .tools button{
    padding: 3px 12px;
    margin: 0 5px;
    border-radius: 30px;
    border: 2px solid #fe7e5e;
    background: #fe7e5e;
    color: white;
}

.navbar .tools #tool-button1{
    border: 2px solid #fe7e5e;
    background: #fe7e5e;
    color: white;
}

.navbar .tools #tool-button2{
    border: 2px solid #fe7e5e;
    background: white;
    color: #fe7e5e;
}

.main-div{
    display: inline-block!important;
    width: 100%;
    background: #f2f3f7!important;
    z-index: 1;
}


.item-img{
    height: 100px;
    width: 40%;
}

.main-div-item{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}






.footer-text{
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 67px;
}

.site-inner>p{
    color: white;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}

.site-inner>form{
    display: flex;
    width: 100%;
    justify-content: center;
}

.site-inner>form>input{
    width: 366px;
    height: 32px;
    outline: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
    border: 2px solid #FF7E5F;
    padding: 0 20px;
    font-size: 13px;
    color: #666666;
}

.site-inner>form>button{
    height: 32px;
    width: 110px;
    border-radius: 10px;
    background-color: #FF7E5F;
    color: white!important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
}

.site-inner>form>button:hover {
    background-color: #757575;
}

.iframe-style{
    background: #C4C4C4;
    margin: 57px 41px 56px 111px;
    text-align: center;
}
.last-blogs{
    background: linear-gradient(95.23deg, #FF7E5F 10.39%, #FEB47B 81.97%)
}

/* top-menu*/
.top-menu-inner{
    background: #F8F8F8;
    border: 1px solid #E5E5E5;
}