.product-slider{
    width: 200px;
    height: 400px;
    margin-right: 20px;
    margin-top: 35px;
    margin-left: 10px;
}

.product-slider>.products{
    width: 100%;
    height: 35px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e95959;
}

.product-slider #carouselWrapper {
    position: relative;
    overflow: hidden;
}

.product-slider #carousel {
    position: absolute;
    visibility: hidden;
}

    
.product-slider #carousel .item{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #b1b1b1;
}

.product-slider #carousel .item>.tools{
    width: 100px;
    height: 96.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-slider #carousel .item>.tools>.product-name{
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #666666;
    text-align: center;
    margin-bottom: 10px;
}

.product-slider #carousel .item>.tools>.view-more{
    width: 60px;
    height: 25px;
    background-color: #e95959;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.2s;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product-slider #carousel .item>.tools>.view-more:hover{
    background-color: #cb5959;
    transition: 0.2s;
}

.product-slider #carousel .item>.item-img{
    width: 70px;
    height: 70px;
}

.product-slider #carousel #item_1>.item-img{
    background: url(../assets/banner/51iRiTUfB4L._AC_UY218_.jpg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}


.product-slider #carousel #item_2>.item-img{
    background: url(../assets/banner/61gawIiuEBL._AC_UY218_.jpg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.product-slider #carousel #item_3>.item-img{
    background: url(../assets/banner/61vjUCzQCaL._AC_UY218_.jpg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.product-slider #carousel #item_4>.item-img{
    background: url(../assets/banner/71u12Vkaa9L._AC_UY218_.jpg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.product-slider #carousel #item_5>.item-img{
    background: url(../assets/banner/81T2DGhCZlL._AC_UY218_.jpg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width:1500px){
    .product-slider,.product-slider>.products,.product-slider #carousel,.product-slider #carousel .item,.product-slider #carousel .pictureFrame,.product-slider #carouselWrapper{
        width: 270px!important;
    }

    .product-slider #carousel .item>.tools{
        width: 135px!important;
    }
}


@media screen and (max-width:1400px){
    .product-slider{
        display: none;
    }
}